In [80]:
import numpy as np
import pandas as pd

from pyproj import Proj, transform

In [81]:
inProj = Proj(init='epsg:3857')
outProj = Proj(init='epsg:4326')
x1,y1 = (-8235084.52207201,4971738.91614184)
x2,y2 = transform(inProj,outProj,x1,y1)
print (x2 ,y2)

-73.97702292193391 40.72415214273837

C:\Users\Alex\anaconda3\lib\site-packages\pyproj\crs\crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))
C:\Users\Alex\anaconda3\lib\site-packages\pyproj\crs\crs.py:294: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  projstring = _prepare_from_string(" ".join((projstring, projkwargs)))
C:\Users\Alex\anaconda3\lib\site-packages\pyproj\crs\crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))
C:\Users\Alex\anaconda3\lib\site-packages\pyproj\crs\crs.py:294: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  projstring = _prepare_from_string(" ".join((projstring, projkwargs)))
<ipython-input-81-fcff8a4d4d2f>:4: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  x2,y2 = transform(inProj,outProj,x1,y1)

In [82]:
data=pd.read_excel('taxi_zones_coordinate ESG3857.xlsx')
data

,X,Y,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough
0,-8257322.018,4966652.597,1,0.116357,0.000782,Newark Airport,1,EWR
1,-8218286.728,4957291.835,2,0.433470,0.004866,Jamaica Bay,2,Queens
2,-8220886.389,4992580.187,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx
3,-8235084.522,4971738.916,4,0.043567,0.000112,Alphabet City,4,Manhattan
4,-8258785.193,4946241.476,5,0.092146,0.000498,Arden Heights,5,Staten Island
...,...,...,...,...,...,...,...,...
258,-8221651.398,4997470.717,259,0.126750,0.000395,Woodlawn/Wakefield,259,Bronx
259,-8226923.730,4975065.828,260,0.133514,0.000422,Woodside,260,Queens
260,-8239080.497,4969509.940,261,0.027120,0.000034,World Trade Center,261,Manhattan
261,-8231612.122,4979436.180,262,0.049064,0.000122,Yorkville East,262,Manhattan
262,-8232210.817,4979724.550,263,0.037017,0.000066,Yorkville West,263,Manhattan

In [83]:
inProj = Proj(init='epsg:3857')
outProj = Proj(init='epsg:4326')
X=[]
Y=[]
for i in range (0,263):
    x1 , y1 = data.X[i] , data.Y[i]
    x2,y2 =transform(inProj,outProj,data.X[i],data.Y[i])
    X.append(x2)
    Y.append(y2)

X=pd.DataFrame(X)
Y=pd.DataFrame(Y)
data=pd.concat ([data,Y,X],axis=1)

C:\Users\Alex\anaconda3\lib\site-packages\pyproj\crs\crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))
C:\Users\Alex\anaconda3\lib\site-packages\pyproj\crs\crs.py:294: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  projstring = _prepare_from_string(" ".join((projstring, projkwargs)))
C:\Users\Alex\anaconda3\lib\site-packages\pyproj\crs\crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))
C:\Users\Alex\anaconda3\lib\site-packages\pyproj\crs\crs.py:294: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  projstring = _prepare_from_string(" ".join((projstring, projkwargs)))
<ipython-input-83-651ce4342d6a>:7: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  x2,y2 =transform(inProj,outProj,data.X[i],data.Y[i])

In [84]:

data

,X,Y,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,0,0
0,-8257322.018,4966652.597,1,0.116357,0.000782,Newark Airport,1,EWR,40.689516,-74.176786
1,-8218286.728,4957291.835,2,0.433470,0.004866,Jamaica Bay,2,Queens,40.625724,-73.826126
2,-8220886.389,4992580.187,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,40.865888,-73.849479
3,-8235084.522,4971738.916,4,0.043567,0.000112,Alphabet City,4,Manhattan,40.724152,-73.977023
4,-8258785.193,4946241.476,5,0.092146,0.000498,Arden Heights,5,Staten Island,40.550340,-74.189930
...,...,...,...,...,...,...,...,...,...,...
258,-8221651.398,4997470.717,259,0.126750,0.000395,Woodlawn/Wakefield,259,Bronx,40.899103,-73.856351
259,-8226923.730,4975065.828,260,0.133514,0.000422,Woodside,260,Queens,40.746798,-73.903713
260,-8239080.497,4969509.940,261,0.027120,0.000034,World Trade Center,261,Manhattan,40.708976,-74.012919
261,-8231612.122,4979436.180,262,0.049064,0.000122,Yorkville East,262,Manhattan,40.776534,-73.945830
262,-8232210.817,4979724.550,263,0.037017,0.000066,Yorkville West,263,Manhattan,40.778496,-73.951208

In [98]:
data[(data.LocationID==55)]

,X,Y,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,0,0
54,-8236581.905,4950133.342,55,0.149957,0.000736,Coney Island,55,Brooklyn,40.5769,-73.990474