In [2]:
import numpy as np
import pandas as pd

In [91]:
data = pd.read_csv('all2.csv', parse_dates= ['pickup_datetime','dropoff_datetime'])
data['pickup_datetime_byhour']=data['pickup_datetime'].dt.hour
data

,Unnamed: 0,Unnamed: 0.1,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,zone,zone_drop,pickup_datetime_byhour
0,33973,33973,HV0003,B02765,2019-02-01 01:11:16,2019-02-01 01:14:56,11,11,NaN,brooklyn_1,brooklyn_1,1
1,41209,41209,HV0003,B02867,2019-02-01 02:26:59,2019-02-01 02:31:14,11,11,NaN,brooklyn_1,brooklyn_1,2
2,101454,101454,HV0003,B02764,2019-02-01 07:16:15,2019-02-01 07:20:36,11,11,NaN,brooklyn_1,brooklyn_1,7
3,116276,116276,HV0003,B02617,2019-02-01 07:48:13,2019-02-01 07:57:20,11,11,1.0,brooklyn_1,brooklyn_1,7
4,117918,117918,HV0003,B02764,2019-02-01 07:11:30,2019-02-01 07:19:01,11,11,NaN,brooklyn_1,brooklyn_1,7
5,148976,148976,HV0002,B02914,2019-02-01 08:04:29,2019-02-01 08:08:40,11,11,NaN,brooklyn_1,brooklyn_1,8
6,149551,149551,HV0004,B02800,2019-02-01 08:15:10,2019-02-01 08:26:06,11,11,NaN,brooklyn_1,brooklyn_1,8
7,151480,151480,HV0003,B02866,2019-02-01 08:52:06,2019-02-01 09:08:08,11,11,NaN,brooklyn_1,brooklyn_1,8
8,154432,154432,HV0005,B02510,2019-02-01 08:13:12,2019-02-01 08:19:48,11,11,NaN,brooklyn_1,brooklyn_1,8
9,159340,159340,HV0002,B02914,2019-02-01 08:44:49,2019-02-01 08:46:57,11,11,NaN,brooklyn_1,brooklyn_1,8
10,174069,174069,HV0003,B02866,2019-02-01 08:23:18,2019-02-01 08:30:06,11,11,NaN,brooklyn_1,brooklyn_1,8
11,178600,178600,HV0003,B02765,2019-02-01 08:48:56,2019-02-01 08:55:11,11,11,NaN,brooklyn_1,brooklyn_1,8
12,188735,188735,HV0003,B02617,2019-02-01 09:03:02,2019-02-01 09:08:54,11,11,NaN,brooklyn_1,brooklyn_1,9
13,202770,202770,HV0003,B02884,2019-02-01 09:04:49,2019-02-01 09:09:28,11,11,NaN,brooklyn_1,brooklyn_1,9
14,208365,208365,HV0003,B02878,2019-02-01 09:25:56,2019-02-01 09:28:49,11,11,NaN,brooklyn_1,brooklyn_1,9
15,232636,232636,HV0003,B02765,2019-02-01 10:18:02,2019-02-01 10:20:30,11,11,NaN,brooklyn_1,brooklyn_1,10
16,260205,260205,HV0004,B02800,2019-02-01 10:40:42,2019-02-01 10:46:42,11,11,NaN,brooklyn_1,brooklyn_1,10
17,268322,268322,HV0005,B02510,2019-02-01 11:56:29,2019-02-01 12:00:05,11,11,NaN,brooklyn_1,brooklyn_1,11
18,283829,283829,HV0003,B02869,2019-02-01 11:44:36,2019-02-01 11:47:35,11,11,NaN,brooklyn_1,brooklyn_1,11
19,329655,329655,HV0003,B02617,2019-02-01 13:56:27,2019-02-01 14:00:47,11,11,NaN,brooklyn_1,brooklyn_1,13
20,347945,347945,HV0005,B02510,2019-02-01 13:54:13,2019-02-01 13:59:07,11,11,NaN,brooklyn_1,brooklyn_1,13
21,377567,377567,HV0005,B02510,2019-02-01 14:47:04,2019-02-01 14:52:45,11,11,NaN,brooklyn_1,brooklyn_1,14
22,385177,385177,HV0003,B02871,2019-02-01 14:32:36,2019-02-01 14:50:14,11,11,NaN,brooklyn_1,brooklyn_1,14
23,387867,387867,HV0003,B02765,2019-02-01 14:08:52,2019-02-01 14:16:50,11,11,NaN,brooklyn_1,brooklyn_1,14
24,421824,421824,HV0003,B02887,2019-02-01 15:40:51,2019-02-01 15:45:00,11,11,NaN,brooklyn_1,brooklyn_1,15
25,446896,446896,HV0003,B02835,2019-02-01 16:45:08,2019-02-01 16:47:36,11,11,NaN,brooklyn_1,brooklyn_1,16
26,451753,451753,HV0005,B02510,2019-02-01 16:05:36,2019-02-01 16:21:48,11,11,NaN,brooklyn_1,brooklyn_1,16
27,454626,454626,HV0005,B02510,2019-02-01 16:25:44,2019-02-01 16:46:52,11,11,NaN,brooklyn_1,brooklyn_1,16
28,459602,459602,HV0003,B02871,2019-02-01 16:01:30,2019-02-01 16:07:01,11,11,NaN,brooklyn_1,brooklyn_1,16
29,489374,489374,HV0003,B02764,2019-02-01 17:07:46,2019-02-01 17:12:15,11,11,NaN,brooklyn_1,brooklyn_1,17
...,...,...,...,...,...,...,...,...,...,...,...,...
10098312,7441432,7441432,HV0003,B02875,2019-02-11 03:52:08,2019-02-11 04:08:37,251,1,NaN,unknown,unknown,3
10098313,7452645,7452645,HV0003,B02883,2019-02-11 05:36:32,2019-02-11 05:58:23,251,1,NaN,unknown,unknown,5
10098314,7461356,7461356,HV0003,B02682,2019-02-11 06:57:54,2019-02-11 07:20:34,251,1,NaN,unknown,unknown,6
10098315,7468252,7468252,HV0005,B02510,2019-02-11 06:31:18,2019-02-11 06:50:23,251,1,NaN,unknown,unknown,6
10098316,7681502,7681502,HV0003,B02882,2019-02-11 13:38:21,2019-02-11 13:58:25,251,1,NaN,unknown,unknown,13
10098317,7824359,7824359,HV0003,B02617,2019-02-11 18:48:11,2019-02-11 19:40:59,251,1,NaN,unknown,unknown,18
10098318,7902115,7902115,HV0005,B02510,2019-02-11 20:27:24,2019-02-11 20:49:29,251,1,NaN,unknown,unknown,20
10098319,8060069,8060069,HV0003,B02875,2019-02-12 04:47:19,2019-02-12 05:05:55,251,1,NaN,unknown,unknown,4
10098320,8083643,8083643,HV0003,B02889,2019-02-12 06:18:18,2019-02-12 06:37:47,251,1,NaN,unknown,unknown,6
10098321,8094240,8094240,HV0003,B02764,2019-02-12 07:25:09,2019-02-12 07:47:58,251,1,NaN,unknown,unknown,7
10098322,8733157,8733157,HV0003,B02764,2019-02-13 03:50:12,2019-02-13 04:21:31,251,1,NaN,unknown,unknown,3
10098323,8733660,8733660,HV0003,B02871,2019-02-13 04:26:49,2019-02-13 04:49:17,251,1,NaN,unknown,unknown,4
10098324,8735849,8735849,HV0003,B02882,2019-02-13 04:20:59,2019-02-13 04:40:47,251,1,NaN,unknown,unknown,4
10098325,8739869,8739869,HV0002,B02914,2019-02-13 05:49:49,2019-02-13 06:06:04,251,1,NaN,unknown,unknown,5
10098326,8780259,8780259,HV0003,B02682,2019-02-13 07:28:24,2019-02-13 07:50:23,251,1,NaN,unknown,unknown,7
10098327,8786400,8786400,HV0003,B02889,2019-02-13 07:26:23,2019-02-13 07:46:35,251,1,NaN,unknown,unknown,7
10098328,8994105,8994105,HV0003,B02888,2019-02-13 14:44:01,2019-02-13 15:10:40,251,1,NaN,unknown,unknown,14
10098329,9227646,9227646,HV0005,B02510,2019-02-13 20:36:05,2019-02-13 20:56:29,251,1,NaN,unknown,unknown,20
10098330,9422371,9422371,HV0005,B02510,2019-02-14 04:43:37,2019-02-14 05:03:14,251,1,NaN,unknown,unknown,4
10098331,9654346,9654346,HV0003,B02883,2019-02-14 13:15:07,2019-02-14 13:43:14,251,1,NaN,unknown,unknown,13
10098332,9738992,9738992,HV0005,B02510,2019-02-14 15:25:08,2019-02-14 15:49:46,251,1,1.0,unknown,unknown,15
10098333,153878,153878,HV0003,B02764,2019-02-01 08:42:17,2019-02-01 08:53:36,1,1,NaN,unknown,unknown,8
10098334,153879,153879,HV0003,B02764,2019-02-01 08:55:45,2019-02-01 09:01:33,1,1,NaN,unknown,unknown,8
10098335,201807,201807,HV0003,B02764,2019-02-01 09:07:05,2019-02-01 09:47:13,1,1,NaN,unknown,unknown,9
10098336,3111459,3111459,HV0005,B02510,2019-02-05 04:55:44,2019-02-05 05:23:59,1,1,NaN,unknown,unknown,4
10098337,3291666,3291666,HV0005,B02510,2019-02-05 12:50:09,2019-02-05 13:25:47,1,1,NaN,unknown,unknown,12
10098338,3915509,3915509,HV0005,B02510,2019-02-06 13:27:43,2019-02-06 13:27:57,1,1,NaN,unknown,unknown,13
10098339,5902805,5902805,HV0003,B02764,2019-02-09 06:36:23,2019-02-09 06:39:49,1,1,1.0,unknown,unknown,6
10098340,7086570,7086570,HV0005,B02510,2019-02-10 15:50:14,2019-02-10 16:45:01,1,1,NaN,unknown,unknown,15
10098341,8105029,8105029,HV0005,B02510,2019-02-12 07:31:00,2019-02-12 08:12:21,1,1,NaN,unknown,unknown,7

In [92]:
data['pickup_datetime_byday']=data['pickup_datetime'].dt.day

In [9]:
def printhour (z):
    hour = ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23"]
    for i in range (0 ,len(hour)):
        print ("hour"+ hour[i] + "= data[data.pickup_datetime_byhour==" + hour[i] + "]")

In [10]:
printhour(0)

hour0= data[data.pickup_datetime_byhour==0]
hour1= data[data.pickup_datetime_byhour==1]
hour2= data[data.pickup_datetime_byhour==2]
hour3= data[data.pickup_datetime_byhour==3]
hour4= data[data.pickup_datetime_byhour==4]
hour5= data[data.pickup_datetime_byhour==5]
hour6= data[data.pickup_datetime_byhour==6]
hour7= data[data.pickup_datetime_byhour==7]
hour8= data[data.pickup_datetime_byhour==8]
hour9= data[data.pickup_datetime_byhour==9]
hour10= data[data.pickup_datetime_byhour==10]
hour11= data[data.pickup_datetime_byhour==11]
hour12= data[data.pickup_datetime_byhour==12]
hour13= data[data.pickup_datetime_byhour==13]
hour14= data[data.pickup_datetime_byhour==14]
hour15= data[data.pickup_datetime_byhour==15]
hour16= data[data.pickup_datetime_byhour==16]
hour17= data[data.pickup_datetime_byhour==17]
hour18= data[data.pickup_datetime_byhour==18]
hour19= data[data.pickup_datetime_byhour==19]
hour20= data[data.pickup_datetime_byhour==20]
hour21= data[data.pickup_datetime_byhour==21]
hour22= data[data.pickup_datetime_byhour==22]
hour23= data[data.pickup_datetime_byhour==23]

In [93]:


hour0= data[data.pickup_datetime_byhour==0]
hour1= data[data.pickup_datetime_byhour==1]
hour2= data[data.pickup_datetime_byhour==2]
hour3= data[data.pickup_datetime_byhour==3]
hour4= data[data.pickup_datetime_byhour==4]
hour5= data[data.pickup_datetime_byhour==5]
hour6= data[data.pickup_datetime_byhour==6]
hour7= data[data.pickup_datetime_byhour==7]
hour8= data[data.pickup_datetime_byhour==8]
hour9= data[data.pickup_datetime_byhour==9]
hour10= data[data.pickup_datetime_byhour==10]
hour11= data[data.pickup_datetime_byhour==11]
hour12= data[data.pickup_datetime_byhour==12]
hour13= data[data.pickup_datetime_byhour==13]
hour14= data[data.pickup_datetime_byhour==14]
hour15= data[data.pickup_datetime_byhour==15]
hour16= data[data.pickup_datetime_byhour==16]
hour17= data[data.pickup_datetime_byhour==17]
hour18= data[data.pickup_datetime_byhour==18]
hour19= data[data.pickup_datetime_byhour==19]
hour20= data[data.pickup_datetime_byhour==20]
hour21= data[data.pickup_datetime_byhour==21]
hour22= data[data.pickup_datetime_byhour==22]
hour23= data[data.pickup_datetime_byhour==23]

In [79]:
def printzonezonedrop (z):
    hour = ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23"]
    for i in range (0 ,len(hour)):
        print ("hour"+ hour[i]+"=pd.concat([hour" + hour[i] +".zone,"+ "hour" +  hour[i] + ".zone_drop],axis=1)")

In [80]:
printzonezonedrop (0)

hour0=pd.concat([hour0.zone,hour0.zone_drop],axis=1)
hour1=pd.concat([hour1.zone,hour1.zone_drop],axis=1)
hour2=pd.concat([hour2.zone,hour2.zone_drop],axis=1)
hour3=pd.concat([hour3.zone,hour3.zone_drop],axis=1)
hour4=pd.concat([hour4.zone,hour4.zone_drop],axis=1)
hour5=pd.concat([hour5.zone,hour5.zone_drop],axis=1)
hour6=pd.concat([hour6.zone,hour6.zone_drop],axis=1)
hour7=pd.concat([hour7.zone,hour7.zone_drop],axis=1)
hour8=pd.concat([hour8.zone,hour8.zone_drop],axis=1)
hour9=pd.concat([hour9.zone,hour9.zone_drop],axis=1)
hour10=pd.concat([hour10.zone,hour10.zone_drop],axis=1)
hour11=pd.concat([hour11.zone,hour11.zone_drop],axis=1)
hour12=pd.concat([hour12.zone,hour12.zone_drop],axis=1)
hour13=pd.concat([hour13.zone,hour13.zone_drop],axis=1)
hour14=pd.concat([hour14.zone,hour14.zone_drop],axis=1)
hour15=pd.concat([hour15.zone,hour15.zone_drop],axis=1)
hour16=pd.concat([hour16.zone,hour16.zone_drop],axis=1)
hour17=pd.concat([hour17.zone,hour17.zone_drop],axis=1)
hour18=pd.concat([hour18.zone,hour18.zone_drop],axis=1)
hour19=pd.concat([hour19.zone,hour19.zone_drop],axis=1)
hour20=pd.concat([hour20.zone,hour20.zone_drop],axis=1)
hour21=pd.concat([hour21.zone,hour21.zone_drop],axis=1)
hour22=pd.concat([hour22.zone,hour22.zone_drop],axis=1)
hour23=pd.concat([hour23.zone,hour23.zone_drop],axis=1)

In [94]:
hour0=pd.concat([hour0.zone,hour0.zone_drop],axis=1)
hour1=pd.concat([hour1.zone,hour1.zone_drop],axis=1)
hour2=pd.concat([hour2.zone,hour2.zone_drop],axis=1)
hour3=pd.concat([hour3.zone,hour3.zone_drop],axis=1)
hour4=pd.concat([hour4.zone,hour4.zone_drop],axis=1)
hour5=pd.concat([hour5.zone,hour5.zone_drop],axis=1)
hour6=pd.concat([hour6.zone,hour6.zone_drop],axis=1)
hour7=pd.concat([hour7.zone,hour7.zone_drop],axis=1)
hour8=pd.concat([hour8.zone,hour8.zone_drop],axis=1)
hour9=pd.concat([hour9.zone,hour9.zone_drop],axis=1)
hour10=pd.concat([hour10.zone,hour10.zone_drop],axis=1)
hour11=pd.concat([hour11.zone,hour11.zone_drop],axis=1)
hour12=pd.concat([hour12.zone,hour12.zone_drop],axis=1)
hour13=pd.concat([hour13.zone,hour13.zone_drop],axis=1)
hour14=pd.concat([hour14.zone,hour14.zone_drop],axis=1)
hour15=pd.concat([hour15.zone,hour15.zone_drop],axis=1)
hour16=pd.concat([hour16.zone,hour16.zone_drop],axis=1)
hour17=pd.concat([hour17.zone,hour17.zone_drop],axis=1)
hour18=pd.concat([hour18.zone,hour18.zone_drop],axis=1)
hour19=pd.concat([hour19.zone,hour19.zone_drop],axis=1)
hour20=pd.concat([hour20.zone,hour20.zone_drop],axis=1)
hour21=pd.concat([hour21.zone,hour21.zone_drop],axis=1)
hour22=pd.concat([hour22.zone,hour22.zone_drop],axis=1)
hour23=pd.concat([hour23.zone,hour23.zone_drop],axis=1)

In [47]:
def printOD (z):
    hour = ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23"]
    for i in range (0 ,len(hour)):
        print ("OD"+ hour[i] + "=hour"+ hour[i] + ".pivot_table(values=\'zone_drop\'," +"index=\"zone\"," + "columns=\'zone_drop\'," +"fill_value=0, aggfunc=len)")

In [48]:
printOD(0)

OD0=hour0.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD1=hour1.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD2=hour2.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD3=hour3.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD4=hour4.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD5=hour5.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD6=hour6.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD7=hour7.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD8=hour8.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD9=hour9.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD10=hour10.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD11=hour11.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD12=hour12.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD13=hour13.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD14=hour14.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD15=hour15.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD16=hour16.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD17=hour17.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD18=hour18.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD19=hour19.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD20=hour20.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD21=hour21.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD22=hour22.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD23=hour23.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)

In [95]:


OD0=hour0.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD1=hour1.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD2=hour2.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD3=hour3.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD4=hour4.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD5=hour5.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD6=hour6.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD7=hour7.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD8=hour8.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD9=hour9.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD10=hour10.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD11=hour11.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD12=hour12.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD13=hour13.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD14=hour14.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD15=hour15.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD16=hour16.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD17=hour17.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD18=hour18.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD19=hour19.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD20=hour20.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD21=hour21.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD22=hour22.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD23=hour23.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)

In [96]:
OD23

zone_drop,bronx_1,bronx_2,bronx_3,bronx_4,bronx_5,bronx_6,bronx_7,brooklyn_1,brooklyn_2,brooklyn_3,...,queens_12,queens_2,queens_3,queens_4,queens_5,queens_6,queens_7,queens_8,queens_9,unknown
zone,,,,,,,,,,,,,,,,,,,,,
bronx_1,1736,663,350,1821,960,544,279,6,14,28,...,16,6,16,31,31,27,1,9,11,167
bronx_2,764,1466,514,952,396,518,258,3,6,31,...,10,9,10,36,37,37,5,9,10,140
bronx_3,377,658,953,455,292,705,99,0,7,25,...,6,7,11,32,18,20,5,8,3,220
bronx_4,2026,936,341,4643,920,589,461,16,23,64,...,22,8,16,100,92,83,12,12,18,170
bronx_5,1018,459,194,964,1756,930,120,2,3,17,...,5,4,12,25,22,26,0,8,3,545
bronx_6,469,446,414,468,533,1469,92,2,6,18,...,9,3,6,22,15,19,5,3,7,515
bronx_7,298,346,79,495,99,86,110,1,4,8,...,8,0,2,11,6,5,0,2,3,19
brooklyn_1,4,2,2,6,1,0,1,5518,163,801,...,23,2,16,43,16,38,42,10,16,147
brooklyn_2,17,20,14,62,15,15,7,598,5012,1080,...,65,21,69,337,159,445,39,19,36,338
brooklyn_3,25,26,10,51,18,22,10,641,483,8345,...,410,55,472,66,42,303,202,28,274,90
brooklyn_4,18,22,12,47,14,16,3,2241,1886,3033,...,90,25,71,108,80,227,79,23,99,308
brooklyn_5,64,66,26,163,60,40,22,388,4509,3573,...,254,63,291,1362,480,2995,118,72,110,534
manhattan_1,196,190,108,544,230,109,47,232,938,173,...,77,72,115,1408,382,693,90,85,48,3919
manhattan_2,1358,755,231,3006,1282,548,220,22,76,76,...,47,18,27,265,154,144,20,28,28,454
manhattan_3,142,204,80,531,219,124,53,148,561,150,...,89,52,83,1352,410,734,38,51,35,1489
manhattan_4,26,46,17,68,45,31,6,230,1083,166,...,31,37,44,368,143,264,20,29,19,1549
manhattan_5,356,306,110,1059,306,190,78,46,222,65,...,44,18,39,364,176,201,22,19,20,501
manhattan_6,66,79,36,187,91,45,12,310,2499,276,...,79,48,80,831,282,701,37,47,22,2149
manhattan_7,103,123,39,244,103,51,13,207,1322,142,...,64,63,75,1024,260,706,41,68,31,1625
manhattan_8,139,122,85,339,178,90,24,279,1284,208,...,89,62,85,1144,298,679,51,74,30,3294
queens_1,10,9,19,23,3,6,3,3,7,11,...,45,258,37,89,96,93,8,316,39,110
queens_10,29,21,18,56,28,14,10,20,36,172,...,404,175,508,398,921,1271,66,247,124,91
queens_11,5,11,2,7,2,2,3,6,8,36,...,183,326,89,57,88,88,11,200,54,57
queens_12,15,23,10,27,12,17,0,33,25,395,...,1912,352,629,69,76,137,303,43,1053,173
queens_2,13,6,2,9,3,5,1,3,13,54,...,282,506,64,50,39,44,22,59,268,242
queens_3,8,15,7,17,10,9,3,44,17,417,...,688,75,1043,70,85,206,134,22,128,56
queens_4,62,47,22,133,47,28,9,35,247,82,...,101,61,113,2754,1205,1173,29,121,42,183
queens_5,57,67,61,153,67,44,20,65,379,126,...,141,87,178,1326,1556,909,48,217,49,1178
queens_6,23,30,21,77,36,15,12,48,152,317,...,168,66,289,778,649,2515,31,92,47,104
queens_7,16,23,23,57,38,21,9,178,347,379,...,359,76,232,185,96,108,829,49,351,1421
queens_8,14,13,6,19,11,7,1,7,20,25,...,64,64,55,112,173,119,16,593,31,108
queens_9,6,9,2,16,5,10,4,4,4,231,...,612,248,100,23,14,29,185,15,1160,274
unknown,1,1,2,3,5,3,0,107,26,30,...,4,1,0,6,7,5,3,2,1,3343

In [97]:
data=pd.read_csv('all2.csv', parse_dates= ['pickup_datetime','dropoff_datetime'])
data['pickup_datetime_byhour']=data['pickup_datetime'].dt.hour
data['pickup_datetime_byday']=data['pickup_datetime'].dt.day

In [100]:
day1=data[(data.pickup_datetime_byday)==1]
day4=data[(data.pickup_datetime_byday)==4]
day5=data[(data.pickup_datetime_byday)==5]
day6=data[(data.pickup_datetime_byday)==6]
day7=data[(data.pickup_datetime_byday)==7]
day8=data[(data.pickup_datetime_byday)==8]
day11=data[(data.pickup_datetime_byday)==11]
day12=data[(data.pickup_datetime_byday)==12]
day13=data[(data.pickup_datetime_byday)==13]
day14=data[(data.pickup_datetime_byday)==14]
weekday=pd.concat([day1,day4,day5,day6,day7,day8,day11,day12,day13,day14])

In [101]:
weekday

,Unnamed: 0,Unnamed: 0.1,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,zone,zone_drop,pickup_datetime_byhour,pickup_datetime_byday
0,33973,33973,HV0003,B02765,2019-02-01 01:11:16,2019-02-01 01:14:56,11,11,NaN,brooklyn_1,brooklyn_1,1,1
1,41209,41209,HV0003,B02867,2019-02-01 02:26:59,2019-02-01 02:31:14,11,11,NaN,brooklyn_1,brooklyn_1,2,1
2,101454,101454,HV0003,B02764,2019-02-01 07:16:15,2019-02-01 07:20:36,11,11,NaN,brooklyn_1,brooklyn_1,7,1
3,116276,116276,HV0003,B02617,2019-02-01 07:48:13,2019-02-01 07:57:20,11,11,1.0,brooklyn_1,brooklyn_1,7,1
4,117918,117918,HV0003,B02764,2019-02-01 07:11:30,2019-02-01 07:19:01,11,11,NaN,brooklyn_1,brooklyn_1,7,1
5,148976,148976,HV0002,B02914,2019-02-01 08:04:29,2019-02-01 08:08:40,11,11,NaN,brooklyn_1,brooklyn_1,8,1
6,149551,149551,HV0004,B02800,2019-02-01 08:15:10,2019-02-01 08:26:06,11,11,NaN,brooklyn_1,brooklyn_1,8,1
7,151480,151480,HV0003,B02866,2019-02-01 08:52:06,2019-02-01 09:08:08,11,11,NaN,brooklyn_1,brooklyn_1,8,1
8,154432,154432,HV0005,B02510,2019-02-01 08:13:12,2019-02-01 08:19:48,11,11,NaN,brooklyn_1,brooklyn_1,8,1
9,159340,159340,HV0002,B02914,2019-02-01 08:44:49,2019-02-01 08:46:57,11,11,NaN,brooklyn_1,brooklyn_1,8,1
10,174069,174069,HV0003,B02866,2019-02-01 08:23:18,2019-02-01 08:30:06,11,11,NaN,brooklyn_1,brooklyn_1,8,1
11,178600,178600,HV0003,B02765,2019-02-01 08:48:56,2019-02-01 08:55:11,11,11,NaN,brooklyn_1,brooklyn_1,8,1
12,188735,188735,HV0003,B02617,2019-02-01 09:03:02,2019-02-01 09:08:54,11,11,NaN,brooklyn_1,brooklyn_1,9,1
13,202770,202770,HV0003,B02884,2019-02-01 09:04:49,2019-02-01 09:09:28,11,11,NaN,brooklyn_1,brooklyn_1,9,1
14,208365,208365,HV0003,B02878,2019-02-01 09:25:56,2019-02-01 09:28:49,11,11,NaN,brooklyn_1,brooklyn_1,9,1
15,232636,232636,HV0003,B02765,2019-02-01 10:18:02,2019-02-01 10:20:30,11,11,NaN,brooklyn_1,brooklyn_1,10,1
16,260205,260205,HV0004,B02800,2019-02-01 10:40:42,2019-02-01 10:46:42,11,11,NaN,brooklyn_1,brooklyn_1,10,1
17,268322,268322,HV0005,B02510,2019-02-01 11:56:29,2019-02-01 12:00:05,11,11,NaN,brooklyn_1,brooklyn_1,11,1
18,283829,283829,HV0003,B02869,2019-02-01 11:44:36,2019-02-01 11:47:35,11,11,NaN,brooklyn_1,brooklyn_1,11,1
19,329655,329655,HV0003,B02617,2019-02-01 13:56:27,2019-02-01 14:00:47,11,11,NaN,brooklyn_1,brooklyn_1,13,1
20,347945,347945,HV0005,B02510,2019-02-01 13:54:13,2019-02-01 13:59:07,11,11,NaN,brooklyn_1,brooklyn_1,13,1
21,377567,377567,HV0005,B02510,2019-02-01 14:47:04,2019-02-01 14:52:45,11,11,NaN,brooklyn_1,brooklyn_1,14,1
22,385177,385177,HV0003,B02871,2019-02-01 14:32:36,2019-02-01 14:50:14,11,11,NaN,brooklyn_1,brooklyn_1,14,1
23,387867,387867,HV0003,B02765,2019-02-01 14:08:52,2019-02-01 14:16:50,11,11,NaN,brooklyn_1,brooklyn_1,14,1
24,421824,421824,HV0003,B02887,2019-02-01 15:40:51,2019-02-01 15:45:00,11,11,NaN,brooklyn_1,brooklyn_1,15,1
25,446896,446896,HV0003,B02835,2019-02-01 16:45:08,2019-02-01 16:47:36,11,11,NaN,brooklyn_1,brooklyn_1,16,1
26,451753,451753,HV0005,B02510,2019-02-01 16:05:36,2019-02-01 16:21:48,11,11,NaN,brooklyn_1,brooklyn_1,16,1
27,454626,454626,HV0005,B02510,2019-02-01 16:25:44,2019-02-01 16:46:52,11,11,NaN,brooklyn_1,brooklyn_1,16,1
28,459602,459602,HV0003,B02871,2019-02-01 16:01:30,2019-02-01 16:07:01,11,11,NaN,brooklyn_1,brooklyn_1,16,1
29,489374,489374,HV0003,B02764,2019-02-01 17:07:46,2019-02-01 17:12:15,11,11,NaN,brooklyn_1,brooklyn_1,17,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10097935,9552202,9552202,HV0002,B02914,2019-02-14 09:49:14,2019-02-14 10:16:24,172,1,NaN,unknown,unknown,9,14
10097936,9702032,9702032,HV0003,B02875,2019-02-14 14:54:02,2019-02-14 15:34:19,172,1,NaN,unknown,unknown,14,14
10097960,9428230,9428230,HV0005,B02510,2019-02-14 05:41:54,2019-02-14 06:15:27,176,1,NaN,unknown,unknown,5,14
10097961,9678324,9678324,HV0003,B02764,2019-02-14 13:18:40,2019-02-14 13:51:31,176,1,NaN,unknown,unknown,13,14
10097962,9820879,9820879,HV0003,B02865,2019-02-14 18:34:45,2019-02-14 19:16:00,176,1,NaN,unknown,unknown,18,14
10097983,9408890,9408890,HV0003,B02866,2019-02-14 02:33:10,2019-02-14 02:50:03,187,1,NaN,unknown,unknown,2,14
10097984,9443886,9443886,HV0003,B02765,2019-02-14 06:43:38,2019-02-14 07:15:44,187,1,NaN,unknown,unknown,6,14
10097985,9878796,9878796,HV0003,B02764,2019-02-14 19:23:35,2019-02-14 19:42:49,187,1,NaN,unknown,unknown,19,14
10098032,9465748,9465748,HV0003,B02869,2019-02-14 07:17:56,2019-02-14 07:47:20,204,1,NaN,unknown,unknown,7,14
10098100,9443633,9443633,HV0003,B02867,2019-02-14 06:09:27,2019-02-14 06:45:59,206,1,NaN,unknown,unknown,6,14
10098101,9744926,9744926,HV0005,B02510,2019-02-14 16:39:50,2019-02-14 17:21:27,206,1,NaN,unknown,unknown,16,14
10098144,9415466,9415466,HV0003,B02876,2019-02-14 03:22:32,2019-02-14 03:47:28,214,1,NaN,unknown,unknown,3,14
10098145,9460885,9460885,HV0005,B02510,2019-02-14 07:46:58,2019-02-14 08:35:06,214,1,NaN,unknown,unknown,7,14
10098146,9504432,9504432,HV0003,B02764,2019-02-14 08:16:20,2019-02-14 08:44:53,214,1,NaN,unknown,unknown,8,14
10098147,9652486,9652486,HV0003,B02835,2019-02-14 13:47:39,2019-02-14 14:13:35,214,1,NaN,unknown,unknown,13,14
10098203,9494501,9494501,HV0003,B02395,2019-02-14 08:22:08,2019-02-14 08:53:57,221,1,NaN,unknown,unknown,8,14
10098204,9529018,9529018,HV0003,B02682,2019-02-14 08:20:41,2019-02-14 08:50:54,221,1,NaN,unknown,unknown,8,14
10098205,9562218,9562218,HV0003,B02872,2019-02-14 09:46:31,2019-02-14 10:07:55,221,1,NaN,unknown,unknown,9,14
10098206,9594785,9594785,HV0005,B02510,2019-02-14 10:00:44,2019-02-14 10:31:37,221,1,NaN,unknown,unknown,10,14
10098207,9672827,9672827,HV0003,B02765,2019-02-14 13:46:07,2019-02-14 14:14:00,221,1,NaN,unknown,unknown,13,14
10098208,9928577,9928577,HV0003,B02764,2019-02-14 20:53:14,2019-02-14 21:17:33,221,1,NaN,unknown,unknown,20,14
10098209,10000869,10000869,HV0003,B02875,2019-02-14 21:32:04,2019-02-14 21:58:14,221,1,NaN,unknown,unknown,21,14
10098260,9426241,9426241,HV0005,B02510,2019-02-14 05:25:20,2019-02-14 05:52:10,245,1,NaN,unknown,unknown,5,14
10098261,9448366,9448366,HV0003,B02871,2019-02-14 06:01:47,2019-02-14 06:23:44,245,1,NaN,unknown,unknown,6,14
10098262,9450794,9450794,HV0003,B02764,2019-02-14 06:51:14,2019-02-14 07:21:51,245,1,NaN,unknown,unknown,6,14
10098263,9578766,9578766,HV0003,B02764,2019-02-14 10:42:09,2019-02-14 11:11:01,245,1,NaN,unknown,unknown,10,14
10098264,9743120,9743120,HV0005,B02510,2019-02-14 16:37:02,2019-02-14 17:08:27,245,1,NaN,unknown,unknown,16,14
10098330,9422371,9422371,HV0005,B02510,2019-02-14 04:43:37,2019-02-14 05:03:14,251,1,NaN,unknown,unknown,4,14
10098331,9654346,9654346,HV0003,B02883,2019-02-14 13:15:07,2019-02-14 13:43:14,251,1,NaN,unknown,unknown,13,14
10098332,9738992,9738992,HV0005,B02510,2019-02-14 15:25:08,2019-02-14 15:49:46,251,1,1.0,unknown,unknown,15,14

In [102]:
def printhour1 (z):
    hour = ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23"]
    for i in range (0 ,len(hour)):
        print ("hour"+ hour[i] + "= weekday[weekday.pickup_datetime_byhour==" + hour[i] + "]")

In [104]:
printhour1 (0)

hour0= weekday[weekday.pickup_datetime_byhour==0]
hour1= weekday[weekday.pickup_datetime_byhour==1]
hour2= weekday[weekday.pickup_datetime_byhour==2]
hour3= weekday[weekday.pickup_datetime_byhour==3]
hour4= weekday[weekday.pickup_datetime_byhour==4]
hour5= weekday[weekday.pickup_datetime_byhour==5]
hour6= weekday[weekday.pickup_datetime_byhour==6]
hour7= weekday[weekday.pickup_datetime_byhour==7]
hour8= weekday[weekday.pickup_datetime_byhour==8]
hour9= weekday[weekday.pickup_datetime_byhour==9]
hour10= weekday[weekday.pickup_datetime_byhour==10]
hour11= weekday[weekday.pickup_datetime_byhour==11]
hour12= weekday[weekday.pickup_datetime_byhour==12]
hour13= weekday[weekday.pickup_datetime_byhour==13]
hour14= weekday[weekday.pickup_datetime_byhour==14]
hour15= weekday[weekday.pickup_datetime_byhour==15]
hour16= weekday[weekday.pickup_datetime_byhour==16]
hour17= weekday[weekday.pickup_datetime_byhour==17]
hour18= weekday[weekday.pickup_datetime_byhour==18]
hour19= weekday[weekday.pickup_datetime_byhour==19]
hour20= weekday[weekday.pickup_datetime_byhour==20]
hour21= weekday[weekday.pickup_datetime_byhour==21]
hour22= weekday[weekday.pickup_datetime_byhour==22]
hour23= weekday[weekday.pickup_datetime_byhour==23]

In [105]:
hour0= weekday[weekday.pickup_datetime_byhour==0]
hour1= weekday[weekday.pickup_datetime_byhour==1]
hour2= weekday[weekday.pickup_datetime_byhour==2]
hour3= weekday[weekday.pickup_datetime_byhour==3]
hour4= weekday[weekday.pickup_datetime_byhour==4]
hour5= weekday[weekday.pickup_datetime_byhour==5]
hour6= weekday[weekday.pickup_datetime_byhour==6]
hour7= weekday[weekday.pickup_datetime_byhour==7]
hour8= weekday[weekday.pickup_datetime_byhour==8]
hour9= weekday[weekday.pickup_datetime_byhour==9]
hour10= weekday[weekday.pickup_datetime_byhour==10]
hour11= weekday[weekday.pickup_datetime_byhour==11]
hour12= weekday[weekday.pickup_datetime_byhour==12]
hour13= weekday[weekday.pickup_datetime_byhour==13]
hour14= weekday[weekday.pickup_datetime_byhour==14]
hour15= weekday[weekday.pickup_datetime_byhour==15]
hour16= weekday[weekday.pickup_datetime_byhour==16]
hour17= weekday[weekday.pickup_datetime_byhour==17]
hour18= weekday[weekday.pickup_datetime_byhour==18]
hour19= weekday[weekday.pickup_datetime_byhour==19]
hour20= weekday[weekday.pickup_datetime_byhour==20]
hour21= weekday[weekday.pickup_datetime_byhour==21]
hour22= weekday[weekday.pickup_datetime_byhour==22]
hour23= weekday[weekday.pickup_datetime_byhour==23]

In [106]:
def printzonezonedrop (z):
    hour = ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23"]
    for i in range (0 ,len(hour)):
        print ("hour"+ hour[i]+"=pd.concat([hour" + hour[i] +".zone,"+ "hour" +  hour[i] + ".zone_drop],axis=1)")

In [108]:
hour0=pd.concat([hour0.zone,hour0.zone_drop],axis=1)
hour1=pd.concat([hour1.zone,hour1.zone_drop],axis=1)
hour2=pd.concat([hour2.zone,hour2.zone_drop],axis=1)
hour3=pd.concat([hour3.zone,hour3.zone_drop],axis=1)
hour4=pd.concat([hour4.zone,hour4.zone_drop],axis=1)
hour5=pd.concat([hour5.zone,hour5.zone_drop],axis=1)
hour6=pd.concat([hour6.zone,hour6.zone_drop],axis=1)
hour7=pd.concat([hour7.zone,hour7.zone_drop],axis=1)
hour8=pd.concat([hour8.zone,hour8.zone_drop],axis=1)
hour9=pd.concat([hour9.zone,hour9.zone_drop],axis=1)
hour10=pd.concat([hour10.zone,hour10.zone_drop],axis=1)
hour11=pd.concat([hour11.zone,hour11.zone_drop],axis=1)
hour12=pd.concat([hour12.zone,hour12.zone_drop],axis=1)
hour13=pd.concat([hour13.zone,hour13.zone_drop],axis=1)
hour14=pd.concat([hour14.zone,hour14.zone_drop],axis=1)
hour15=pd.concat([hour15.zone,hour15.zone_drop],axis=1)
hour16=pd.concat([hour16.zone,hour16.zone_drop],axis=1)
hour17=pd.concat([hour17.zone,hour17.zone_drop],axis=1)
hour18=pd.concat([hour18.zone,hour18.zone_drop],axis=1)
hour19=pd.concat([hour19.zone,hour19.zone_drop],axis=1)
hour20=pd.concat([hour20.zone,hour20.zone_drop],axis=1)
hour21=pd.concat([hour21.zone,hour21.zone_drop],axis=1)
hour22=pd.concat([hour22.zone,hour22.zone_drop],axis=1)
hour23=pd.concat([hour23.zone,hour23.zone_drop],axis=1)

In [109]:


OD0=hour0.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD1=hour1.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD2=hour2.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD3=hour3.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD4=hour4.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD5=hour5.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD6=hour6.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD7=hour7.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD8=hour8.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD9=hour9.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD10=hour10.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD11=hour11.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD12=hour12.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD13=hour13.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD14=hour14.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD15=hour15.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD16=hour16.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD17=hour17.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD18=hour18.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD19=hour19.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD20=hour20.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD21=hour21.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD22=hour22.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD23=hour23.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)