In [2]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('all1.csv', parse_dates= ['tpep_pickup_datetime','tpep_dropoff_datetime'])
data['pickup_datetime_byhour']=data['tpep_pickup_datetime'].dt.hour
data

,Unnamed: 0,Unnamed: 0.1,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,zone,zone_drop,pickup_datetime_byhour
0,381889,382200,2.0,2019-02-02 11:06:00,2019-02-02 11:09:11,3.0,0.00,1.0,N,11,...,0.0,0.5,0.00,0.0,0.3,3.30,0.0,brooklyn_1,brooklyn_1,11
1,471552,471863,1.0,2019-02-02 17:19:00,2019-02-02 17:19:09,1.0,0.00,1.0,N,11,...,0.0,0.5,0.00,0.0,0.3,3.30,0.0,brooklyn_1,brooklyn_1,17
2,606107,606421,1.0,2019-02-03 05:12:47,2019-02-03 05:13:09,1.0,0.00,5.0,N,11,...,0.0,0.0,0.00,0.0,0.3,55.30,0.0,brooklyn_1,brooklyn_1,5
3,684292,684606,1.0,2019-02-03 15:46:49,2019-02-03 15:48:03,1.0,0.00,5.0,N,11,...,0.0,0.0,9.45,0.0,0.3,56.75,0.0,brooklyn_1,brooklyn_1,15
4,706153,706467,2.0,2019-02-03 16:42:40,2019-02-03 16:56:10,1.0,1.89,1.0,N,11,...,0.0,0.5,0.00,0.0,0.3,11.30,0.0,brooklyn_1,brooklyn_1,16
5,746171,746486,2.0,2019-02-03 19:00:20,2019-02-03 19:10:59,1.0,1.35,1.0,N,11,...,0.0,0.5,0.00,0.0,0.3,9.30,0.0,brooklyn_1,brooklyn_1,19
6,884392,884711,2.0,2019-02-04 12:57:49,2019-02-04 13:06:47,1.0,1.37,1.0,N,11,...,0.0,0.5,0.00,0.0,0.3,8.30,0.0,brooklyn_1,brooklyn_1,12
7,888648,888967,2.0,2019-02-04 14:14:48,2019-02-04 14:15:01,6.0,0.07,1.0,N,11,...,0.0,0.5,0.00,0.0,0.3,3.30,0.0,brooklyn_1,brooklyn_1,14
8,2010441,2010778,2.0,2019-02-08 18:24:33,2019-02-08 18:24:53,1.0,0.00,1.0,N,11,...,1.0,0.5,0.00,0.0,0.3,4.30,0.0,brooklyn_1,brooklyn_1,18
9,2662020,2662384,2.0,2019-02-11 09:17:31,2019-02-11 09:24:20,1.0,1.30,1.0,N,11,...,0.0,0.5,0.00,0.0,0.3,7.80,0.0,brooklyn_1,brooklyn_1,9
10,2665624,2665988,1.0,2019-02-11 10:16:24,2019-02-11 10:19:05,1.0,19.40,1.0,N,11,...,0.0,0.5,0.00,0.0,0.3,4.30,0.0,brooklyn_1,brooklyn_1,10
11,2718189,2718553,2.0,2019-02-11 14:01:34,2019-02-11 14:11:42,2.0,1.72,1.0,N,11,...,0.0,0.5,0.00,0.0,0.3,9.80,0.0,brooklyn_1,brooklyn_1,14
12,2849879,2850257,1.0,2019-02-12 02:11:59,2019-02-12 02:14:18,1.0,0.50,1.0,N,11,...,3.0,0.5,0.00,0.0,0.3,7.80,2.5,brooklyn_1,brooklyn_1,2
13,3088803,3089194,2.0,2019-02-13 02:42:36,2019-02-13 02:42:40,2.0,0.00,1.0,N,11,...,0.5,0.5,0.00,0.0,0.3,3.80,0.0,brooklyn_1,brooklyn_1,2
14,3436910,3437317,2.0,2019-02-14 12:00:08,2019-02-14 12:06:17,1.0,1.02,1.0,N,11,...,0.0,0.5,0.00,0.0,0.3,6.80,0.0,brooklyn_1,brooklyn_1,12
15,122335,122641,2.0,2019-02-01 13:44:28,2019-02-01 13:59:03,1.0,1.69,1.0,N,21,...,0.0,0.5,0.00,0.0,0.3,11.80,0.0,brooklyn_1,brooklyn_1,13
16,2534118,2534476,2.0,2019-02-10 16:52:05,2019-02-10 16:58:23,3.0,1.44,1.0,N,21,...,0.0,0.5,1.95,0.0,0.3,9.75,0.0,brooklyn_1,brooklyn_1,16
17,2705444,2705808,2.0,2019-02-11 13:33:22,2019-02-11 13:43:43,2.0,1.23,1.0,N,21,...,0.0,0.5,0.00,0.0,0.3,9.30,0.0,brooklyn_1,brooklyn_1,13
18,2791152,2791528,2.0,2019-02-11 19:09:22,2019-02-11 19:21:47,2.0,1.91,1.0,N,21,...,1.0,0.5,0.00,0.0,0.3,12.30,0.0,brooklyn_1,brooklyn_1,19
19,2782522,2782897,2.0,2019-02-11 18:24:22,2019-02-11 18:30:10,1.0,1.11,1.0,N,22,...,1.0,0.5,0.00,0.0,0.3,8.30,0.0,brooklyn_1,brooklyn_1,18
20,1132490,1132811,1.0,2019-02-05 14:36:16,2019-02-05 14:44:06,1.0,1.50,1.0,N,108,...,0.0,0.5,0.00,0.0,0.3,8.30,0.0,brooklyn_1,brooklyn_1,14
21,2696484,2696848,1.0,2019-02-11 12:57:06,2019-02-11 13:10:57,1.0,3.60,1.0,N,108,...,0.0,0.5,0.00,0.0,0.3,13.80,0.0,brooklyn_1,brooklyn_1,12
22,699633,699947,2.0,2019-02-03 16:32:20,2019-02-03 16:56:27,2.0,7.31,1.0,N,210,...,0.0,0.5,0.00,0.0,0.3,25.80,0.0,brooklyn_1,brooklyn_1,16
23,1491884,1492206,1.0,2019-02-06 20:57:16,2019-02-06 21:15:56,2.0,6.20,1.0,N,210,...,0.5,0.5,0.00,0.0,0.3,22.30,0.0,brooklyn_1,brooklyn_1,20
24,1662746,1663072,2.0,2019-02-07 13:21:47,2019-02-07 14:02:40,1.0,7.48,1.0,N,210,...,0.0,0.5,0.00,0.0,0.3,33.30,0.0,brooklyn_1,brooklyn_1,13
25,2718190,2718554,2.0,2019-02-11 14:40:24,2019-02-11 14:56:41,1.0,5.96,5.0,N,210,...,0.0,0.5,0.00,0.0,0.3,18.68,0.0,brooklyn_1,brooklyn_1,14
26,3423276,3423683,1.0,2019-02-14 10:20:50,2019-02-14 10:33:11,1.0,3.80,1.0,N,210,...,0.0,0.5,0.00,0.0,0.3,15.30,0.0,brooklyn_1,brooklyn_1,10
27,3464082,3464494,2.0,2019-02-14 13:06:20,2019-02-14 13:35:01,1.0,6.49,1.0,N,210,...,0.0,0.5,0.00,0.0,0.3,24.80,0.0,brooklyn_1,brooklyn_1,13
28,1396443,1396764,1.0,2019-02-06 14:04:37,2019-02-06 14:51:52,1.0,8.50,1.0,Y,25,...,0.0,0.5,0.00,0.0,0.3,37.80,0.0,brooklyn_2,brooklyn_1,14
29,3569461,3569888,1.0,2019-02-14 20:15:21,2019-02-14 20:45:53,1.0,10.60,1.0,N,33,...,0.5,0.5,2.00,0.0,0.3,36.30,0.0,brooklyn_2,brooklyn_1,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3618775,3046064,3046455,2.0,2019-02-12 21:14:11,2019-02-12 21:14:22,1.0,0.00,1.0,N,1,...,0.5,0.5,0.00,0.0,0.3,3.80,0.0,unknown,unknown,21
3618776,3097686,3098077,2.0,2019-02-13 06:36:17,2019-02-13 06:36:18,1.0,0.00,5.0,N,1,...,0.0,0.0,19.06,0.0,0.3,114.36,0.0,unknown,unknown,6
3618777,3142220,3142611,1.0,2019-02-13 10:44:45,2019-02-13 10:45:26,1.0,0.00,5.0,N,1,...,0.0,0.0,17.05,0.0,0.3,102.35,0.0,unknown,unknown,10
3618778,3144850,3145241,1.0,2019-02-13 10:30:12,2019-02-13 10:30:36,1.0,0.00,5.0,N,1,...,0.0,0.0,10.00,0.0,0.3,105.30,0.0,unknown,unknown,10
3618779,3146212,3146603,1.0,2019-02-13 10:30:59,2019-02-13 10:31:36,1.0,1.10,5.0,N,1,...,0.0,0.0,18.05,0.0,0.3,108.35,0.0,unknown,unknown,10
3618780,3148873,3149264,2.0,2019-02-13 10:06:46,2019-02-13 10:06:51,1.0,0.00,5.0,N,1,...,0.0,0.0,0.00,0.0,0.3,95.30,0.0,unknown,unknown,10
3618781,3194064,3194455,1.0,2019-02-13 14:00:53,2019-02-13 14:01:21,1.0,0.00,5.0,N,1,...,0.0,0.0,23.80,0.0,0.3,119.10,0.0,unknown,unknown,14
3618782,3199444,3199835,2.0,2019-02-13 13:03:27,2019-02-13 13:03:41,1.0,0.01,5.0,N,1,...,0.0,0.0,37.66,26.0,0.3,225.96,0.0,unknown,unknown,13
3618783,3226817,3227208,1.0,2019-02-13 16:11:27,2019-02-13 16:12:02,1.0,1.70,5.0,N,1,...,0.0,0.0,27.95,18.0,0.3,121.25,0.0,unknown,unknown,16
3618784,3229670,3230061,2.0,2019-02-13 16:35:02,2019-02-13 16:36:12,1.0,0.36,5.0,N,1,...,0.0,0.5,22.26,12.5,0.3,133.56,0.0,unknown,unknown,16
3618785,3245643,3246034,2.0,2019-02-13 17:08:07,2019-02-13 17:08:32,1.0,0.00,5.0,N,1,...,0.0,0.5,17.16,0.0,0.3,102.96,0.0,unknown,unknown,17
3618786,3248539,3248930,2.0,2019-02-13 17:00:04,2019-02-13 17:00:15,1.0,0.33,5.0,N,1,...,0.0,0.0,23.26,0.0,0.3,139.56,0.0,unknown,unknown,17
3618787,3251639,3252032,1.0,2019-02-13 17:25:13,2019-02-13 17:25:34,1.0,1.60,5.0,N,1,...,0.0,0.0,15.00,0.0,0.3,110.30,0.0,unknown,unknown,17
3618788,3251745,3252138,2.0,2019-02-13 17:04:49,2019-02-13 17:04:56,1.0,0.00,3.0,N,1,...,1.0,0.0,4.26,0.0,0.3,25.56,0.0,unknown,unknown,17
3618789,3265223,3265616,2.0,2019-02-13 18:46:03,2019-02-13 18:46:50,1.0,0.00,5.0,N,1,...,0.0,0.0,10.00,0.0,0.3,130.30,0.0,unknown,unknown,18
3618790,3284705,3285099,1.0,2019-02-13 19:16:51,2019-02-13 19:18:14,1.0,16.50,5.0,N,1,...,0.0,0.0,0.00,0.0,0.3,87.30,0.0,unknown,unknown,19
3618791,3313337,3313731,1.0,2019-02-13 21:10:39,2019-02-13 21:12:46,1.0,4.30,1.0,N,1,...,0.5,0.5,60.00,10.5,0.3,74.80,0.0,unknown,unknown,21
3618792,3357196,3357590,2.0,2019-02-14 02:26:21,2019-02-14 02:26:24,1.0,0.00,5.0,N,1,...,0.0,0.0,3.00,0.0,0.3,28.30,0.0,unknown,unknown,2
3618793,3361252,3361646,1.0,2019-02-14 04:34:40,2019-02-14 04:34:54,0.0,0.00,5.0,N,1,...,0.0,0.0,5.00,0.0,0.3,75.30,0.0,unknown,unknown,4
3618794,3362567,3362961,1.0,2019-02-14 05:59:12,2019-02-14 05:59:59,2.0,0.00,5.0,N,1,...,0.0,0.0,15.00,20.0,0.3,115.30,0.0,unknown,unknown,5
3618795,3362759,3363153,1.0,2019-02-14 05:58:14,2019-02-14 05:59:33,1.0,0.20,5.0,N,1,...,0.0,0.0,15.00,0.0,0.3,105.30,0.0,unknown,unknown,5
3618796,3363584,3363980,1.0,2019-02-14 05:45:50,2019-02-14 05:46:33,2.0,0.00,5.0,N,1,...,0.0,0.0,10.00,0.0,0.3,80.30,0.0,unknown,unknown,5
3618797,3363587,3363983,1.0,2019-02-14 05:42:43,2019-02-14 05:43:25,0.0,0.00,5.0,N,1,...,0.0,0.0,0.00,0.0,0.3,100.30,0.0,unknown,unknown,5
3618798,3366877,3367273,1.0,2019-02-14 06:46:25,2019-02-14 06:46:54,1.0,0.00,5.0,N,1,...,0.0,0.0,16.75,0.0,0.3,100.55,0.0,unknown,unknown,6
3618799,3443977,3444384,2.0,2019-02-14 12:02:29,2019-02-14 12:02:46,2.0,0.00,5.0,N,1,...,0.0,0.5,0.00,15.0,0.3,100.80,0.0,unknown,unknown,12
3618800,3445649,3446056,2.0,2019-02-14 12:26:23,2019-02-14 12:26:25,1.0,0.06,5.0,N,1,...,0.0,0.0,10.00,0.0,0.3,105.30,0.0,unknown,unknown,12
3618801,3477148,3477561,1.0,2019-02-14 14:55:13,2019-02-14 14:55:42,2.0,0.00,5.0,N,1,...,0.0,0.0,0.00,0.0,0.3,110.30,0.0,unknown,unknown,14
3618802,3503131,3503553,1.0,2019-02-14 16:57:27,2019-02-14 16:57:56,1.0,0.00,5.0,N,1,...,0.0,0.0,17.05,0.0,0.3,102.35,0.0,unknown,unknown,16
3618803,3550644,3551071,2.0,2019-02-14 19:56:38,2019-02-14 19:57:38,2.0,0.00,5.0,N,1,...,0.0,0.5,31.83,17.3,0.3,137.93,0.0,unknown,unknown,19
3618804,3566106,3566533,1.0,2019-02-14 20:20:59,2019-02-14 20:21:32,1.0,20.60,5.0,N,1,...,0.0,0.0,15.00,0.0,0.3,135.30,0.0,unknown,unknown,20

In [8]:
data['pickup_datetime_byday']=data['tpep_pickup_datetime'].dt.day

In [9]:
def printhour (z):
    hour = ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23"]
    for i in range (0 ,len(hour)):
        print ("hour"+ hour[i] + "= data[data.pickup_datetime_byhour==" + hour[i] + "]")

In [10]:
printhour(0)

hour0= data[data.pickup_datetime_byhour==0]
hour1= data[data.pickup_datetime_byhour==1]
hour2= data[data.pickup_datetime_byhour==2]
hour3= data[data.pickup_datetime_byhour==3]
hour4= data[data.pickup_datetime_byhour==4]
hour5= data[data.pickup_datetime_byhour==5]
hour6= data[data.pickup_datetime_byhour==6]
hour7= data[data.pickup_datetime_byhour==7]
hour8= data[data.pickup_datetime_byhour==8]
hour9= data[data.pickup_datetime_byhour==9]
hour10= data[data.pickup_datetime_byhour==10]
hour11= data[data.pickup_datetime_byhour==11]
hour12= data[data.pickup_datetime_byhour==12]
hour13= data[data.pickup_datetime_byhour==13]
hour14= data[data.pickup_datetime_byhour==14]
hour15= data[data.pickup_datetime_byhour==15]
hour16= data[data.pickup_datetime_byhour==16]
hour17= data[data.pickup_datetime_byhour==17]
hour18= data[data.pickup_datetime_byhour==18]
hour19= data[data.pickup_datetime_byhour==19]
hour20= data[data.pickup_datetime_byhour==20]
hour21= data[data.pickup_datetime_byhour==21]
hour22= data[data.pickup_datetime_byhour==22]
hour23= data[data.pickup_datetime_byhour==23]

In [9]:


hour0= data[data.pickup_datetime_byhour==0]
hour1= data[data.pickup_datetime_byhour==1]
hour2= data[data.pickup_datetime_byhour==2]
hour3= data[data.pickup_datetime_byhour==3]
hour4= data[data.pickup_datetime_byhour==4]
hour5= data[data.pickup_datetime_byhour==5]
hour6= data[data.pickup_datetime_byhour==6]
hour7= data[data.pickup_datetime_byhour==7]
hour8= data[data.pickup_datetime_byhour==8]
hour9= data[data.pickup_datetime_byhour==9]
hour10= data[data.pickup_datetime_byhour==10]
hour11= data[data.pickup_datetime_byhour==11]
hour12= data[data.pickup_datetime_byhour==12]
hour13= data[data.pickup_datetime_byhour==13]
hour14= data[data.pickup_datetime_byhour==14]
hour15= data[data.pickup_datetime_byhour==15]
hour16= data[data.pickup_datetime_byhour==16]
hour17= data[data.pickup_datetime_byhour==17]
hour18= data[data.pickup_datetime_byhour==18]
hour19= data[data.pickup_datetime_byhour==19]
hour20= data[data.pickup_datetime_byhour==20]
hour21= data[data.pickup_datetime_byhour==21]
hour22= data[data.pickup_datetime_byhour==22]
hour23= data[data.pickup_datetime_byhour==23]

In [79]:
def printzonezonedrop (z):
    hour = ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23"]
    for i in range (0 ,len(hour)):
        print ("hour"+ hour[i]+"=pd.concat([hour" + hour[i] +".zone,"+ "hour" +  hour[i] + ".zone_drop],axis=1)")

In [80]:
printzonezonedrop (0)

hour0=pd.concat([hour0.zone,hour0.zone_drop],axis=1)
hour1=pd.concat([hour1.zone,hour1.zone_drop],axis=1)
hour2=pd.concat([hour2.zone,hour2.zone_drop],axis=1)
hour3=pd.concat([hour3.zone,hour3.zone_drop],axis=1)
hour4=pd.concat([hour4.zone,hour4.zone_drop],axis=1)
hour5=pd.concat([hour5.zone,hour5.zone_drop],axis=1)
hour6=pd.concat([hour6.zone,hour6.zone_drop],axis=1)
hour7=pd.concat([hour7.zone,hour7.zone_drop],axis=1)
hour8=pd.concat([hour8.zone,hour8.zone_drop],axis=1)
hour9=pd.concat([hour9.zone,hour9.zone_drop],axis=1)
hour10=pd.concat([hour10.zone,hour10.zone_drop],axis=1)
hour11=pd.concat([hour11.zone,hour11.zone_drop],axis=1)
hour12=pd.concat([hour12.zone,hour12.zone_drop],axis=1)
hour13=pd.concat([hour13.zone,hour13.zone_drop],axis=1)
hour14=pd.concat([hour14.zone,hour14.zone_drop],axis=1)
hour15=pd.concat([hour15.zone,hour15.zone_drop],axis=1)
hour16=pd.concat([hour16.zone,hour16.zone_drop],axis=1)
hour17=pd.concat([hour17.zone,hour17.zone_drop],axis=1)
hour18=pd.concat([hour18.zone,hour18.zone_drop],axis=1)
hour19=pd.concat([hour19.zone,hour19.zone_drop],axis=1)
hour20=pd.concat([hour20.zone,hour20.zone_drop],axis=1)
hour21=pd.concat([hour21.zone,hour21.zone_drop],axis=1)
hour22=pd.concat([hour22.zone,hour22.zone_drop],axis=1)
hour23=pd.concat([hour23.zone,hour23.zone_drop],axis=1)

In [10]:
hour0=pd.concat([hour0.zone,hour0.zone_drop],axis=1)
hour1=pd.concat([hour1.zone,hour1.zone_drop],axis=1)
hour2=pd.concat([hour2.zone,hour2.zone_drop],axis=1)
hour3=pd.concat([hour3.zone,hour3.zone_drop],axis=1)
hour4=pd.concat([hour4.zone,hour4.zone_drop],axis=1)
hour5=pd.concat([hour5.zone,hour5.zone_drop],axis=1)
hour6=pd.concat([hour6.zone,hour6.zone_drop],axis=1)
hour7=pd.concat([hour7.zone,hour7.zone_drop],axis=1)
hour8=pd.concat([hour8.zone,hour8.zone_drop],axis=1)
hour9=pd.concat([hour9.zone,hour9.zone_drop],axis=1)
hour10=pd.concat([hour10.zone,hour10.zone_drop],axis=1)
hour11=pd.concat([hour11.zone,hour11.zone_drop],axis=1)
hour12=pd.concat([hour12.zone,hour12.zone_drop],axis=1)
hour13=pd.concat([hour13.zone,hour13.zone_drop],axis=1)
hour14=pd.concat([hour14.zone,hour14.zone_drop],axis=1)
hour15=pd.concat([hour15.zone,hour15.zone_drop],axis=1)
hour16=pd.concat([hour16.zone,hour16.zone_drop],axis=1)
hour17=pd.concat([hour17.zone,hour17.zone_drop],axis=1)
hour18=pd.concat([hour18.zone,hour18.zone_drop],axis=1)
hour19=pd.concat([hour19.zone,hour19.zone_drop],axis=1)
hour20=pd.concat([hour20.zone,hour20.zone_drop],axis=1)
hour21=pd.concat([hour21.zone,hour21.zone_drop],axis=1)
hour22=pd.concat([hour22.zone,hour22.zone_drop],axis=1)
hour23=pd.concat([hour23.zone,hour23.zone_drop],axis=1)

In [47]:
def printOD (z):
    hour = ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23"]
    for i in range (0 ,len(hour)):
        print ("OD"+ hour[i] + "=hour"+ hour[i] + ".pivot_table(values=\'zone_drop\'," +"index=\"zone\"," + "columns=\'zone_drop\'," +"fill_value=0, aggfunc=len)")

In [48]:
printOD(0)

OD0=hour0.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD1=hour1.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD2=hour2.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD3=hour3.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD4=hour4.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD5=hour5.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD6=hour6.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD7=hour7.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD8=hour8.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD9=hour9.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD10=hour10.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD11=hour11.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD12=hour12.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD13=hour13.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD14=hour14.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD15=hour15.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD16=hour16.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD17=hour17.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD18=hour18.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD19=hour19.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD20=hour20.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD21=hour21.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD22=hour22.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD23=hour23.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)

In [11]:


OD0=hour0.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD1=hour1.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD2=hour2.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD3=hour3.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD4=hour4.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD5=hour5.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD6=hour6.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD7=hour7.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD8=hour8.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD9=hour9.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD10=hour10.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD11=hour11.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD12=hour12.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD13=hour13.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD14=hour14.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD15=hour15.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD16=hour16.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD17=hour17.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD18=hour18.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD19=hour19.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD20=hour20.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD21=hour21.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD22=hour22.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD23=hour23.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)

In [12]:
OD23

zone_drop,bronx_1,bronx_2,bronx_3,bronx_4,bronx_5,bronx_6,bronx_7,brooklyn_1,brooklyn_2,brooklyn_3,...,queens_12,queens_2,queens_3,queens_4,queens_5,queens_6,queens_7,queens_8,queens_9,unknown
zone,,,,,,,,,,,,,,,,,,,,,
bronx_1,2,2,1,6,1,2,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
bronx_2,1,4,1,2,0,2,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
bronx_3,0,0,2,3,2,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,0
bronx_4,7,8,2,21,0,1,3,0,1,0,...,1,0,1,0,2,0,0,0,0,1
bronx_5,2,2,1,1,7,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,1
bronx_6,0,2,0,2,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
bronx_7,1,2,0,1,0,4,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
brooklyn_1,0,0,0,0,0,0,0,7,2,3,...,0,0,2,1,0,1,1,0,0,0
brooklyn_2,1,2,0,2,0,0,0,7,386,19,...,0,0,2,6,9,7,0,0,1,3
brooklyn_3,1,1,0,2,0,0,0,0,3,26,...,1,2,0,0,0,0,0,0,3,3
brooklyn_4,1,0,1,0,0,0,0,7,39,11,...,2,0,0,0,1,1,0,0,1,1
brooklyn_5,0,4,1,7,1,0,1,4,89,20,...,0,0,0,34,10,45,1,1,1,3
manhattan_1,26,39,12,87,61,20,16,43,545,21,...,18,15,19,590,189,248,9,6,5,99
manhattan_2,18,10,6,74,14,5,2,3,6,7,...,2,0,1,5,5,2,1,1,0,5
manhattan_3,24,39,17,131,29,12,13,21,211,14,...,24,10,21,413,168,236,3,5,0,40
manhattan_4,4,2,3,12,5,2,0,28,385,21,...,1,1,4,71,29,36,1,1,4,26
manhattan_5,17,23,8,119,34,20,8,6,60,7,...,2,1,3,66,36,34,7,1,1,17
manhattan_6,5,9,1,35,24,10,1,30,830,24,...,4,12,3,208,70,161,1,3,0,62
manhattan_7,9,24,10,26,9,6,2,40,414,30,...,7,12,20,268,89,147,4,6,4,49
manhattan_8,14,24,9,66,41,17,3,55,523,42,...,11,12,15,379,127,162,9,7,1,102
queens_1,1,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,2,1
queens_10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,4,11,1,0,0,0
queens_11,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
queens_12,1,0,0,1,1,0,0,0,1,0,...,14,0,0,0,2,0,1,0,0,1
queens_2,0,0,0,0,0,0,0,0,0,0,...,1,6,0,0,0,0,0,0,0,0
queens_3,0,1,0,0,0,0,0,0,0,2,...,2,0,5,0,0,0,0,1,0,1
queens_4,0,0,0,4,1,1,1,0,7,3,...,2,0,1,325,81,64,2,1,2,1
queens_5,8,10,10,33,28,13,3,14,182,15,...,23,27,23,187,176,95,8,38,16,71
queens_6,0,1,1,2,0,0,0,1,3,4,...,1,1,1,56,20,71,0,2,2,1
queens_7,8,6,10,18,20,8,2,80,254,108,...,165,46,64,116,57,65,139,17,79,120
queens_8,0,0,0,0,0,0,0,0,0,0,...,1,0,0,2,0,0,0,4,0,1
queens_9,0,0,0,0,0,0,0,0,0,2,...,4,0,0,0,0,0,2,0,1,0
unknown,1,1,1,1,1,1,0,2,8,0,...,0,0,1,16,5,2,10,2,2,1385

In [10]:
data=pd.read_csv('all1.csv', parse_dates= ['tpep_pickup_datetime','tpep_dropoff_datetime'])
data['pickup_datetime_byhour']=data['tpep_pickup_datetime'].dt.hour
data['pickup_datetime_byday']=data['tpep_pickup_datetime'].dt.day

In [11]:
day1=data[(data.pickup_datetime_byday)==1]
day4=data[(data.pickup_datetime_byday)==4]
day5=data[(data.pickup_datetime_byday)==5]
day6=data[(data.pickup_datetime_byday)==6]
day7=data[(data.pickup_datetime_byday)==7]
day8=data[(data.pickup_datetime_byday)==8]
day11=data[(data.pickup_datetime_byday)==11]
day12=data[(data.pickup_datetime_byday)==12]
day13=data[(data.pickup_datetime_byday)==13]
day14=data[(data.pickup_datetime_byday)==14]
weekday=pd.concat([day1,day4,day5,day6,day7,day8,day11,day12,day13,day14])

In [12]:
weekday

,Unnamed: 0,Unnamed: 0.1,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,zone,zone_drop,pickup_datetime_byhour,pickup_datetime_byday
15,122335,122641,2.0,2019-02-01 13:44:28,2019-02-01 13:59:03,1.0,1.69,1.0,N,21,...,0.5,0.00,0.00,0.3,11.80,0.0,brooklyn_1,brooklyn_1,13,1
41,16694,16971,2.0,2019-02-01 05:11:58,2019-02-01 05:25:53,1.0,2.65,1.0,N,26,...,0.5,0.00,0.00,0.3,13.30,0.0,brooklyn_4,brooklyn_1,5,1
46,117906,118212,2.0,2019-02-01 13:36:27,2019-02-01 13:54:19,1.0,3.52,1.0,N,89,...,0.5,0.00,0.00,0.3,15.30,0.0,brooklyn_4,brooklyn_1,13,1
58,71830,72130,2.0,2019-02-01 09:25:26,2019-02-01 10:05:40,1.0,24.15,1.0,N,70,...,0.5,0.00,0.00,0.3,64.80,0.0,queens_5,brooklyn_1,9,1
67,21425,21704,2.0,2019-02-01 06:37:20,2019-02-01 07:09:44,3.0,17.68,1.0,N,132,...,0.5,9.66,0.00,0.3,57.96,0.0,queens_7,brooklyn_1,6,1
68,172064,172370,2.0,2019-02-01 16:00:39,2019-02-01 16:36:40,3.0,18.11,1.0,N,132,...,0.5,0.00,0.00,0.3,51.30,0.0,queens_7,brooklyn_1,16,1
69,214246,214552,1.0,2019-02-01 18:45:39,2019-02-01 19:18:18,1.0,18.00,1.0,N,132,...,0.5,0.00,0.00,0.3,51.80,0.0,queens_7,brooklyn_1,18,1
70,293335,293642,2.0,2019-02-01 23:24:09,2019-02-01 23:49:37,1.0,19.01,1.0,N,132,...,0.5,0.00,0.00,0.3,51.30,0.0,queens_7,brooklyn_1,23,1
121,282797,283103,2.0,2019-02-01 22:08:23,2019-02-01 22:43:20,1.0,12.96,1.0,N,48,...,0.5,5.00,5.76,0.3,51.56,0.0,manhattan_1,brooklyn_1,22,1
131,239554,239860,2.0,2019-02-01 20:49:47,2019-02-01 21:30:26,2.0,17.30,1.0,N,161,...,0.5,0.00,5.76,0.3,56.56,0.0,manhattan_1,brooklyn_1,20,1
142,55266,55553,2.0,2019-02-01 08:58:25,2019-02-01 09:48:47,6.0,15.26,1.0,N,230,...,0.5,12.58,0.00,0.3,62.88,0.0,manhattan_1,brooklyn_1,8,1
150,216526,216832,1.0,2019-02-01 18:47:13,2019-02-01 19:35:50,1.0,16.80,1.0,N,162,...,0.5,10.35,0.00,0.3,62.15,0.0,manhattan_3,brooklyn_1,18,1
156,227852,228158,2.0,2019-02-01 19:14:41,2019-02-01 19:51:18,2.0,16.34,1.0,N,229,...,0.5,10.71,5.76,0.3,64.27,0.0,manhattan_3,brooklyn_1,19,1
165,96523,96826,2.0,2019-02-01 11:51:36,2019-02-01 12:23:36,1.0,9.42,1.0,N,45,...,0.5,0.00,0.00,0.3,31.80,0.0,manhattan_4,brooklyn_1,11,1
173,267499,267805,1.0,2019-02-01 21:16:59,2019-02-01 21:45:57,1.0,10.90,1.0,N,88,...,0.5,8.50,0.00,0.3,42.30,0.0,manhattan_4,brooklyn_1,21,1
204,16406,16681,1.0,2019-02-01 04:40:10,2019-02-01 05:07:53,1.0,11.00,1.0,N,114,...,0.5,0.00,0.00,0.3,35.30,0.0,manhattan_6,brooklyn_1,4,1
212,27888,28168,1.0,2019-02-01 07:29:19,2019-02-01 08:02:37,1.0,13.40,1.0,N,148,...,0.5,0.00,0.00,0.3,40.80,0.0,manhattan_6,brooklyn_1,7,1
221,177615,177921,2.0,2019-02-01 16:20:11,2019-02-01 17:12:01,3.0,13.28,1.0,N,79,...,0.5,10.21,5.76,0.3,61.27,0.0,manhattan_7,brooklyn_1,16,1
228,287036,287343,2.0,2019-02-01 23:56:04,2019-02-02 00:29:34,4.0,15.93,1.0,N,107,...,0.5,0.00,0.00,0.3,47.30,0.0,manhattan_7,brooklyn_1,23,1
235,1658,1708,2.0,2019-02-01 00:32:08,2019-02-01 01:00:04,2.0,12.41,1.0,N,137,...,0.5,7.46,0.00,0.3,44.76,0.0,manhattan_7,brooklyn_1,0,1
236,182917,183223,1.0,2019-02-01 17:09:02,2019-02-01 18:02:59,1.0,19.50,1.0,N,137,...,0.5,0.00,0.00,0.3,58.80,0.0,manhattan_7,brooklyn_1,17,1
239,259121,259427,2.0,2019-02-01 21:39:03,2019-02-01 22:12:16,3.0,13.92,1.0,N,170,...,0.5,0.00,0.00,0.3,41.80,0.0,manhattan_7,brooklyn_1,21,1
252,107728,108033,2.0,2019-02-01 12:39:38,2019-02-01 13:16:34,1.0,16.10,1.0,N,233,...,0.5,0.00,5.76,0.3,54.56,0.0,manhattan_7,brooklyn_1,12,1
265,237439,237745,1.0,2019-02-01 20:05:10,2019-02-01 20:41:17,2.0,12.90,1.0,N,186,...,0.5,9.50,5.76,0.3,57.06,0.0,manhattan_8,brooklyn_1,20,1
278,17870,18147,2.0,2019-02-01 05:38:18,2019-02-01 06:32:24,1.0,21.66,1.0,N,159,...,0.5,0.00,5.76,0.3,70.56,0.0,bronx_4,brooklyn_1,5,1
279,167745,168051,1.0,2019-02-01 16:30:47,2019-02-01 16:59:17,1.0,10.40,1.0,N,264,...,0.5,7.90,5.76,0.3,47.46,0.0,unknown,brooklyn_1,16,1
282,19007,19284,2.0,2019-02-01 05:40:57,2019-02-01 05:41:36,1.0,0.01,1.0,N,21,...,0.5,0.00,0.00,0.3,3.80,0.0,brooklyn_1,brooklyn_1,5,1
283,47173,47457,2.0,2019-02-01 08:38:56,2019-02-01 08:41:30,2.0,0.52,1.0,N,21,...,0.5,0.00,0.00,0.3,4.80,0.0,brooklyn_1,brooklyn_1,8,1
334,202413,202719,1.0,2019-02-01 18:59:23,2019-02-01 19:22:41,1.0,8.20,1.0,N,25,...,0.5,0.00,0.00,0.3,26.80,0.0,brooklyn_2,brooklyn_1,18,1
357,195486,195792,2.0,2019-02-01 16:59:34,2019-02-01 17:19:10,1.0,3.45,1.0,N,14,...,0.5,0.00,0.00,0.3,17.30,0.0,brooklyn_4,brooklyn_1,16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3618281,3484966,3485379,1.0,2019-02-14 15:05:08,2019-02-14 15:44:04,1.0,17.10,3.0,N,186,...,0.0,5.00,18.50,0.3,90.30,0.0,manhattan_8,unknown,15,14
3618282,3515819,3516241,2.0,2019-02-14 17:23:56,2019-02-14 18:50:43,2.0,18.05,3.0,N,186,...,0.0,21.36,20.50,0.3,128.16,0.0,manhattan_8,unknown,17,14
3618283,3550143,3550570,1.0,2019-02-14 19:34:40,2019-02-14 20:23:38,1.0,22.20,3.0,N,186,...,0.0,0.05,12.50,0.3,93.85,0.0,manhattan_8,unknown,19,14
3618384,3360903,3361297,2.0,2019-02-14 04:13:13,2019-02-14 04:45:19,5.0,16.61,3.0,N,234,...,0.0,19.82,15.50,0.3,99.12,0.0,manhattan_8,unknown,4,14
3618385,3412987,3413393,2.0,2019-02-14 10:42:12,2019-02-14 11:20:21,1.0,15.41,3.0,N,234,...,0.0,0.00,10.50,0.3,74.30,0.0,manhattan_8,unknown,10,14
3618386,3433158,3433565,2.0,2019-02-14 11:14:08,2019-02-14 11:52:21,6.0,20.05,3.0,N,234,...,0.0,12.10,17.50,0.3,102.90,0.0,manhattan_8,unknown,11,14
3618387,3447346,3447757,2.0,2019-02-14 12:43:04,2019-02-14 13:24:23,1.0,18.26,3.0,N,234,...,0.0,17.05,12.95,0.3,102.30,0.0,manhattan_8,unknown,12,14
3618388,3461779,3462191,1.0,2019-02-14 13:35:31,2019-02-14 14:14:41,0.0,17.70,3.0,N,234,...,0.0,17.15,15.50,0.3,102.95,0.0,manhattan_8,unknown,13,14
3618389,3478706,3479119,1.0,2019-02-14 15:36:02,2019-02-14 16:55:45,1.0,18.00,3.0,N,234,...,0.0,19.15,12.50,0.3,114.95,0.0,manhattan_8,unknown,15,14
3618390,3491818,3492234,1.0,2019-02-14 15:22:43,2019-02-14 16:20:16,1.0,14.50,3.0,N,234,...,0.0,10.00,10.50,0.3,87.80,0.0,manhattan_8,unknown,15,14
3618391,3501920,3502342,1.0,2019-02-14 16:34:25,2019-02-14 17:39:04,1.0,16.80,3.0,N,234,...,0.0,15.00,17.50,0.3,106.30,0.0,manhattan_8,unknown,16,14
3618392,3564339,3564766,1.0,2019-02-14 20:10:03,2019-02-14 20:54:36,1.0,22.20,3.0,N,234,...,0.0,22.65,10.50,0.3,113.45,0.0,manhattan_8,unknown,20,14
3618485,3477591,3478004,2.0,2019-02-14 14:17:39,2019-02-14 14:41:19,2.0,15.99,5.0,N,246,...,0.0,18.66,10.50,0.3,111.96,2.5,manhattan_8,unknown,14,14
3618486,3489494,3489910,1.0,2019-02-14 15:57:21,2019-02-14 16:48:16,0.0,17.40,3.0,N,246,...,0.0,0.00,14.65,0.3,85.45,0.0,manhattan_8,unknown,15,14
3618487,3554510,3554937,2.0,2019-02-14 19:13:27,2019-02-14 19:47:09,1.0,16.81,3.0,N,246,...,0.0,16.26,17.50,0.3,97.56,0.0,manhattan_8,unknown,19,14
3618488,3574438,3574865,2.0,2019-02-14 20:24:36,2019-02-14 20:54:32,1.0,20.30,4.0,N,246,...,0.5,22.66,10.50,0.3,135.96,2.5,manhattan_8,unknown,20,14
3618545,3535016,3535443,1.0,2019-02-14 18:14:55,2019-02-14 19:18:47,1.0,13.30,3.0,N,264,...,0.0,21.15,12.50,0.3,105.95,0.0,unknown,unknown,18,14
3618792,3357196,3357590,2.0,2019-02-14 02:26:21,2019-02-14 02:26:24,1.0,0.00,5.0,N,1,...,0.0,3.00,0.00,0.3,28.30,0.0,unknown,unknown,2,14
3618793,3361252,3361646,1.0,2019-02-14 04:34:40,2019-02-14 04:34:54,0.0,0.00,5.0,N,1,...,0.0,5.00,0.00,0.3,75.30,0.0,unknown,unknown,4,14
3618794,3362567,3362961,1.0,2019-02-14 05:59:12,2019-02-14 05:59:59,2.0,0.00,5.0,N,1,...,0.0,15.00,20.00,0.3,115.30,0.0,unknown,unknown,5,14
3618795,3362759,3363153,1.0,2019-02-14 05:58:14,2019-02-14 05:59:33,1.0,0.20,5.0,N,1,...,0.0,15.00,0.00,0.3,105.30,0.0,unknown,unknown,5,14
3618796,3363584,3363980,1.0,2019-02-14 05:45:50,2019-02-14 05:46:33,2.0,0.00,5.0,N,1,...,0.0,10.00,0.00,0.3,80.30,0.0,unknown,unknown,5,14
3618797,3363587,3363983,1.0,2019-02-14 05:42:43,2019-02-14 05:43:25,0.0,0.00,5.0,N,1,...,0.0,0.00,0.00,0.3,100.30,0.0,unknown,unknown,5,14
3618798,3366877,3367273,1.0,2019-02-14 06:46:25,2019-02-14 06:46:54,1.0,0.00,5.0,N,1,...,0.0,16.75,0.00,0.3,100.55,0.0,unknown,unknown,6,14
3618799,3443977,3444384,2.0,2019-02-14 12:02:29,2019-02-14 12:02:46,2.0,0.00,5.0,N,1,...,0.5,0.00,15.00,0.3,100.80,0.0,unknown,unknown,12,14
3618800,3445649,3446056,2.0,2019-02-14 12:26:23,2019-02-14 12:26:25,1.0,0.06,5.0,N,1,...,0.0,10.00,0.00,0.3,105.30,0.0,unknown,unknown,12,14
3618801,3477148,3477561,1.0,2019-02-14 14:55:13,2019-02-14 14:55:42,2.0,0.00,5.0,N,1,...,0.0,0.00,0.00,0.3,110.30,0.0,unknown,unknown,14,14
3618802,3503131,3503553,1.0,2019-02-14 16:57:27,2019-02-14 16:57:56,1.0,0.00,5.0,N,1,...,0.0,17.05,0.00,0.3,102.35,0.0,unknown,unknown,16,14
3618803,3550644,3551071,2.0,2019-02-14 19:56:38,2019-02-14 19:57:38,2.0,0.00,5.0,N,1,...,0.5,31.83,17.30,0.3,137.93,0.0,unknown,unknown,19,14
3618804,3566106,3566533,1.0,2019-02-14 20:20:59,2019-02-14 20:21:32,1.0,20.60,5.0,N,1,...,0.0,15.00,0.00,0.3,135.30,0.0,unknown,unknown,20,14

In [102]:
def printhour1 (z):
    hour = ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23"]
    for i in range (0 ,len(hour)):
        print ("hour"+ hour[i] + "= weekday[weekday.pickup_datetime_byhour==" + hour[i] + "]")

In [104]:
printhour1 (0)

hour0= weekday[weekday.pickup_datetime_byhour==0]
hour1= weekday[weekday.pickup_datetime_byhour==1]
hour2= weekday[weekday.pickup_datetime_byhour==2]
hour3= weekday[weekday.pickup_datetime_byhour==3]
hour4= weekday[weekday.pickup_datetime_byhour==4]
hour5= weekday[weekday.pickup_datetime_byhour==5]
hour6= weekday[weekday.pickup_datetime_byhour==6]
hour7= weekday[weekday.pickup_datetime_byhour==7]
hour8= weekday[weekday.pickup_datetime_byhour==8]
hour9= weekday[weekday.pickup_datetime_byhour==9]
hour10= weekday[weekday.pickup_datetime_byhour==10]
hour11= weekday[weekday.pickup_datetime_byhour==11]
hour12= weekday[weekday.pickup_datetime_byhour==12]
hour13= weekday[weekday.pickup_datetime_byhour==13]
hour14= weekday[weekday.pickup_datetime_byhour==14]
hour15= weekday[weekday.pickup_datetime_byhour==15]
hour16= weekday[weekday.pickup_datetime_byhour==16]
hour17= weekday[weekday.pickup_datetime_byhour==17]
hour18= weekday[weekday.pickup_datetime_byhour==18]
hour19= weekday[weekday.pickup_datetime_byhour==19]
hour20= weekday[weekday.pickup_datetime_byhour==20]
hour21= weekday[weekday.pickup_datetime_byhour==21]
hour22= weekday[weekday.pickup_datetime_byhour==22]
hour23= weekday[weekday.pickup_datetime_byhour==23]

In [13]:
hour0= weekday[weekday.pickup_datetime_byhour==0]
hour1= weekday[weekday.pickup_datetime_byhour==1]
hour2= weekday[weekday.pickup_datetime_byhour==2]
hour3= weekday[weekday.pickup_datetime_byhour==3]
hour4= weekday[weekday.pickup_datetime_byhour==4]
hour5= weekday[weekday.pickup_datetime_byhour==5]
hour6= weekday[weekday.pickup_datetime_byhour==6]
hour7= weekday[weekday.pickup_datetime_byhour==7]
hour8= weekday[weekday.pickup_datetime_byhour==8]
hour9= weekday[weekday.pickup_datetime_byhour==9]
hour10= weekday[weekday.pickup_datetime_byhour==10]
hour11= weekday[weekday.pickup_datetime_byhour==11]
hour12= weekday[weekday.pickup_datetime_byhour==12]
hour13= weekday[weekday.pickup_datetime_byhour==13]
hour14= weekday[weekday.pickup_datetime_byhour==14]
hour15= weekday[weekday.pickup_datetime_byhour==15]
hour16= weekday[weekday.pickup_datetime_byhour==16]
hour17= weekday[weekday.pickup_datetime_byhour==17]
hour18= weekday[weekday.pickup_datetime_byhour==18]
hour19= weekday[weekday.pickup_datetime_byhour==19]
hour20= weekday[weekday.pickup_datetime_byhour==20]
hour21= weekday[weekday.pickup_datetime_byhour==21]
hour22= weekday[weekday.pickup_datetime_byhour==22]
hour23= weekday[weekday.pickup_datetime_byhour==23]

In [106]:
def printzonezonedrop (z):
    hour = ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23"]
    for i in range (0 ,len(hour)):
        print ("hour"+ hour[i]+"=pd.concat([hour" + hour[i] +".zone,"+ "hour" +  hour[i] + ".zone_drop],axis=1)")

In [14]:
hour0=pd.concat([hour0.zone,hour0.zone_drop],axis=1)
hour1=pd.concat([hour1.zone,hour1.zone_drop],axis=1)
hour2=pd.concat([hour2.zone,hour2.zone_drop],axis=1)
hour3=pd.concat([hour3.zone,hour3.zone_drop],axis=1)
hour4=pd.concat([hour4.zone,hour4.zone_drop],axis=1)
hour5=pd.concat([hour5.zone,hour5.zone_drop],axis=1)
hour6=pd.concat([hour6.zone,hour6.zone_drop],axis=1)
hour7=pd.concat([hour7.zone,hour7.zone_drop],axis=1)
hour8=pd.concat([hour8.zone,hour8.zone_drop],axis=1)
hour9=pd.concat([hour9.zone,hour9.zone_drop],axis=1)
hour10=pd.concat([hour10.zone,hour10.zone_drop],axis=1)
hour11=pd.concat([hour11.zone,hour11.zone_drop],axis=1)
hour12=pd.concat([hour12.zone,hour12.zone_drop],axis=1)
hour13=pd.concat([hour13.zone,hour13.zone_drop],axis=1)
hour14=pd.concat([hour14.zone,hour14.zone_drop],axis=1)
hour15=pd.concat([hour15.zone,hour15.zone_drop],axis=1)
hour16=pd.concat([hour16.zone,hour16.zone_drop],axis=1)
hour17=pd.concat([hour17.zone,hour17.zone_drop],axis=1)
hour18=pd.concat([hour18.zone,hour18.zone_drop],axis=1)
hour19=pd.concat([hour19.zone,hour19.zone_drop],axis=1)
hour20=pd.concat([hour20.zone,hour20.zone_drop],axis=1)
hour21=pd.concat([hour21.zone,hour21.zone_drop],axis=1)
hour22=pd.concat([hour22.zone,hour22.zone_drop],axis=1)
hour23=pd.concat([hour23.zone,hour23.zone_drop],axis=1)

In [15]:


OD0=hour0.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD1=hour1.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD2=hour2.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD3=hour3.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD4=hour4.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD5=hour5.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD6=hour6.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD7=hour7.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD8=hour8.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD9=hour9.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD10=hour10.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD11=hour11.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD12=hour12.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD13=hour13.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD14=hour14.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD15=hour15.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD16=hour16.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD17=hour17.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD18=hour18.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD19=hour19.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD20=hour20.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD21=hour21.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD22=hour22.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)
OD23=hour23.pivot_table(values='zone_drop',index="zone",columns='zone_drop',fill_value=0, aggfunc=len)