In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('HVFHV2019_0_withzoning.csv')
data = pd.read_csv('HVFHV2019_0_withzoning.csv', parse_dates= ['pickup_datetime','dropoff_datetime'])
data

,Unnamed: 0,Unnamed: 0.1,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,zone,zone_drop
0,537,537,HV0003,B02872,2019-02-01 00:32:26,2019-02-01 00:38:39,145,145,NaN,queens_1,queens_1
1,897,897,HV0002,B02914,2019-02-01 00:43:46,2019-02-01 00:47:13,145,145,NaN,queens_1,queens_1
2,3497,3497,HV0005,B02510,2019-02-01 00:42:37,2019-02-01 00:48:21,145,145,NaN,queens_1,queens_1
3,7422,7422,HV0003,B02764,2019-02-01 00:44:05,2019-02-01 00:47:37,145,145,NaN,queens_1,queens_1
4,10109,10109,HV0003,B02864,2019-02-01 00:35:20,2019-02-01 00:41:13,145,145,NaN,queens_1,queens_1
5,10297,10297,HV0002,B02914,2019-02-01 00:58:04,2019-02-01 01:03:59,145,145,NaN,queens_1,queens_1
6,12913,12913,HV0003,B02884,2019-02-01 00:34:20,2019-02-01 00:37:35,145,145,NaN,queens_1,queens_1
7,14226,14226,HV0003,B02872,2019-02-01 00:53:37,2019-02-01 00:58:43,145,145,NaN,queens_1,queens_1
8,14854,14854,HV0002,B02914,2019-02-01 00:33:45,2019-02-01 00:38:59,145,145,NaN,queens_1,queens_1
9,17698,17698,HV0002,B02914,2019-02-01 00:44:25,2019-02-01 00:49:02,145,145,NaN,queens_1,queens_1
10,18165,18165,HV0003,B02835,2019-02-01 00:31:58,2019-02-01 00:38:46,145,145,NaN,queens_1,queens_1
11,22829,22829,HV0003,B02865,2019-02-01 00:07:00,2019-02-01 00:11:45,145,145,NaN,queens_1,queens_1
12,24194,24194,HV0003,B02887,2019-02-01 01:01:01,2019-02-01 01:08:11,145,145,NaN,queens_1,queens_1
13,25928,25928,HV0003,B02887,2019-02-01 01:59:36,2019-02-01 02:03:00,145,145,NaN,queens_1,queens_1
14,27165,27165,HV0003,B02864,2019-02-01 01:53:36,2019-02-01 01:57:25,145,145,NaN,queens_1,queens_1
15,29476,29476,HV0005,B02510,2019-02-01 01:48:16,2019-02-01 01:56:29,145,145,1.0,queens_1,queens_1
16,30143,30143,HV0003,B02764,2019-02-01 01:14:13,2019-02-01 01:15:48,145,145,1.0,queens_1,queens_1
17,36350,36350,HV0005,B02510,2019-02-01 01:22:06,2019-02-01 01:22:26,145,145,1.0,queens_1,queens_1
18,36736,36736,HV0005,B02510,2019-02-01 01:07:06,2019-02-01 01:14:14,145,145,1.0,queens_1,queens_1
19,36867,36867,HV0003,B02765,2019-02-01 01:36:06,2019-02-01 01:38:19,145,145,NaN,queens_1,queens_1
20,36868,36868,HV0003,B02765,2019-02-01 01:53:24,2019-02-01 02:00:07,145,145,NaN,queens_1,queens_1
21,40688,40688,HV0003,B02836,2019-02-01 02:16:15,2019-02-01 02:21:50,145,145,NaN,queens_1,queens_1
22,41728,41728,HV0002,B02914,2019-02-01 02:39:03,2019-02-01 02:43:14,145,145,NaN,queens_1,queens_1
23,51752,51752,HV0005,B02510,2019-02-01 03:59:47,2019-02-01 04:05:21,145,145,1.0,queens_1,queens_1
24,56530,56530,HV0003,B02882,2019-02-01 04:22:37,2019-02-01 04:26:51,145,145,NaN,queens_1,queens_1
25,59113,59113,HV0003,B02764,2019-02-01 04:04:43,2019-02-01 04:09:42,145,145,NaN,queens_1,queens_1
26,60265,60265,HV0003,B02869,2019-02-01 05:45:38,2019-02-01 05:51:35,145,145,NaN,queens_1,queens_1
27,60266,60266,HV0003,B02869,2019-02-01 05:55:17,2019-02-01 05:58:18,145,145,NaN,queens_1,queens_1
28,65191,65191,HV0003,B02866,2019-02-01 05:48:53,2019-02-01 05:54:00,145,145,NaN,queens_1,queens_1
29,69520,69520,HV0003,B02764,2019-02-01 05:42:30,2019-02-01 05:46:32,145,145,NaN,queens_1,queens_1
...,...,...,...,...,...,...,...,...,...,...,...
10098312,7441432,7441432,HV0003,B02875,2019-02-11 03:52:08,2019-02-11 04:08:37,251,1,NaN,unknown,unknown
10098313,7452645,7452645,HV0003,B02883,2019-02-11 05:36:32,2019-02-11 05:58:23,251,1,NaN,unknown,unknown
10098314,7461356,7461356,HV0003,B02682,2019-02-11 06:57:54,2019-02-11 07:20:34,251,1,NaN,unknown,unknown
10098315,7468252,7468252,HV0005,B02510,2019-02-11 06:31:18,2019-02-11 06:50:23,251,1,NaN,unknown,unknown
10098316,7681502,7681502,HV0003,B02882,2019-02-11 13:38:21,2019-02-11 13:58:25,251,1,NaN,unknown,unknown
10098317,7824359,7824359,HV0003,B02617,2019-02-11 18:48:11,2019-02-11 19:40:59,251,1,NaN,unknown,unknown
10098318,7902115,7902115,HV0005,B02510,2019-02-11 20:27:24,2019-02-11 20:49:29,251,1,NaN,unknown,unknown
10098319,8060069,8060069,HV0003,B02875,2019-02-12 04:47:19,2019-02-12 05:05:55,251,1,NaN,unknown,unknown
10098320,8083643,8083643,HV0003,B02889,2019-02-12 06:18:18,2019-02-12 06:37:47,251,1,NaN,unknown,unknown
10098321,8094240,8094240,HV0003,B02764,2019-02-12 07:25:09,2019-02-12 07:47:58,251,1,NaN,unknown,unknown
10098322,8733157,8733157,HV0003,B02764,2019-02-13 03:50:12,2019-02-13 04:21:31,251,1,NaN,unknown,unknown
10098323,8733660,8733660,HV0003,B02871,2019-02-13 04:26:49,2019-02-13 04:49:17,251,1,NaN,unknown,unknown
10098324,8735849,8735849,HV0003,B02882,2019-02-13 04:20:59,2019-02-13 04:40:47,251,1,NaN,unknown,unknown
10098325,8739869,8739869,HV0002,B02914,2019-02-13 05:49:49,2019-02-13 06:06:04,251,1,NaN,unknown,unknown
10098326,8780259,8780259,HV0003,B02682,2019-02-13 07:28:24,2019-02-13 07:50:23,251,1,NaN,unknown,unknown
10098327,8786400,8786400,HV0003,B02889,2019-02-13 07:26:23,2019-02-13 07:46:35,251,1,NaN,unknown,unknown
10098328,8994105,8994105,HV0003,B02888,2019-02-13 14:44:01,2019-02-13 15:10:40,251,1,NaN,unknown,unknown
10098329,9227646,9227646,HV0005,B02510,2019-02-13 20:36:05,2019-02-13 20:56:29,251,1,NaN,unknown,unknown
10098330,9422371,9422371,HV0005,B02510,2019-02-14 04:43:37,2019-02-14 05:03:14,251,1,NaN,unknown,unknown
10098331,9654346,9654346,HV0003,B02883,2019-02-14 13:15:07,2019-02-14 13:43:14,251,1,NaN,unknown,unknown
10098332,9738992,9738992,HV0005,B02510,2019-02-14 15:25:08,2019-02-14 15:49:46,251,1,1.0,unknown,unknown
10098333,153878,153878,HV0003,B02764,2019-02-01 08:42:17,2019-02-01 08:53:36,1,1,NaN,unknown,unknown
10098334,153879,153879,HV0003,B02764,2019-02-01 08:55:45,2019-02-01 09:01:33,1,1,NaN,unknown,unknown
10098335,201807,201807,HV0003,B02764,2019-02-01 09:07:05,2019-02-01 09:47:13,1,1,NaN,unknown,unknown
10098336,3111459,3111459,HV0005,B02510,2019-02-05 04:55:44,2019-02-05 05:23:59,1,1,NaN,unknown,unknown
10098337,3291666,3291666,HV0005,B02510,2019-02-05 12:50:09,2019-02-05 13:25:47,1,1,NaN,unknown,unknown
10098338,3915509,3915509,HV0005,B02510,2019-02-06 13:27:43,2019-02-06 13:27:57,1,1,NaN,unknown,unknown
10098339,5902805,5902805,HV0003,B02764,2019-02-09 06:36:23,2019-02-09 06:39:49,1,1,1.0,unknown,unknown
10098340,7086570,7086570,HV0005,B02510,2019-02-10 15:50:14,2019-02-10 16:45:01,1,1,NaN,unknown,unknown
10098341,8105029,8105029,HV0005,B02510,2019-02-12 07:31:00,2019-02-12 08:12:21,1,1,NaN,unknown,unknown

In [3]:
data['travel_time'] = data['dropoff_datetime']-data['pickup_datetime']
data

,Unnamed: 0,Unnamed: 0.1,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,zone,zone_drop,travel_time
0,537,537,HV0003,B02872,2019-02-01 00:32:26,2019-02-01 00:38:39,145,145,NaN,queens_1,queens_1,00:06:13
1,897,897,HV0002,B02914,2019-02-01 00:43:46,2019-02-01 00:47:13,145,145,NaN,queens_1,queens_1,00:03:27
2,3497,3497,HV0005,B02510,2019-02-01 00:42:37,2019-02-01 00:48:21,145,145,NaN,queens_1,queens_1,00:05:44
3,7422,7422,HV0003,B02764,2019-02-01 00:44:05,2019-02-01 00:47:37,145,145,NaN,queens_1,queens_1,00:03:32
4,10109,10109,HV0003,B02864,2019-02-01 00:35:20,2019-02-01 00:41:13,145,145,NaN,queens_1,queens_1,00:05:53
5,10297,10297,HV0002,B02914,2019-02-01 00:58:04,2019-02-01 01:03:59,145,145,NaN,queens_1,queens_1,00:05:55
6,12913,12913,HV0003,B02884,2019-02-01 00:34:20,2019-02-01 00:37:35,145,145,NaN,queens_1,queens_1,00:03:15
7,14226,14226,HV0003,B02872,2019-02-01 00:53:37,2019-02-01 00:58:43,145,145,NaN,queens_1,queens_1,00:05:06
8,14854,14854,HV0002,B02914,2019-02-01 00:33:45,2019-02-01 00:38:59,145,145,NaN,queens_1,queens_1,00:05:14
9,17698,17698,HV0002,B02914,2019-02-01 00:44:25,2019-02-01 00:49:02,145,145,NaN,queens_1,queens_1,00:04:37
10,18165,18165,HV0003,B02835,2019-02-01 00:31:58,2019-02-01 00:38:46,145,145,NaN,queens_1,queens_1,00:06:48
11,22829,22829,HV0003,B02865,2019-02-01 00:07:00,2019-02-01 00:11:45,145,145,NaN,queens_1,queens_1,00:04:45
12,24194,24194,HV0003,B02887,2019-02-01 01:01:01,2019-02-01 01:08:11,145,145,NaN,queens_1,queens_1,00:07:10
13,25928,25928,HV0003,B02887,2019-02-01 01:59:36,2019-02-01 02:03:00,145,145,NaN,queens_1,queens_1,00:03:24
14,27165,27165,HV0003,B02864,2019-02-01 01:53:36,2019-02-01 01:57:25,145,145,NaN,queens_1,queens_1,00:03:49
15,29476,29476,HV0005,B02510,2019-02-01 01:48:16,2019-02-01 01:56:29,145,145,1.0,queens_1,queens_1,00:08:13
16,30143,30143,HV0003,B02764,2019-02-01 01:14:13,2019-02-01 01:15:48,145,145,1.0,queens_1,queens_1,00:01:35
17,36350,36350,HV0005,B02510,2019-02-01 01:22:06,2019-02-01 01:22:26,145,145,1.0,queens_1,queens_1,00:00:20
18,36736,36736,HV0005,B02510,2019-02-01 01:07:06,2019-02-01 01:14:14,145,145,1.0,queens_1,queens_1,00:07:08
19,36867,36867,HV0003,B02765,2019-02-01 01:36:06,2019-02-01 01:38:19,145,145,NaN,queens_1,queens_1,00:02:13
20,36868,36868,HV0003,B02765,2019-02-01 01:53:24,2019-02-01 02:00:07,145,145,NaN,queens_1,queens_1,00:06:43
21,40688,40688,HV0003,B02836,2019-02-01 02:16:15,2019-02-01 02:21:50,145,145,NaN,queens_1,queens_1,00:05:35
22,41728,41728,HV0002,B02914,2019-02-01 02:39:03,2019-02-01 02:43:14,145,145,NaN,queens_1,queens_1,00:04:11
23,51752,51752,HV0005,B02510,2019-02-01 03:59:47,2019-02-01 04:05:21,145,145,1.0,queens_1,queens_1,00:05:34
24,56530,56530,HV0003,B02882,2019-02-01 04:22:37,2019-02-01 04:26:51,145,145,NaN,queens_1,queens_1,00:04:14
25,59113,59113,HV0003,B02764,2019-02-01 04:04:43,2019-02-01 04:09:42,145,145,NaN,queens_1,queens_1,00:04:59
26,60265,60265,HV0003,B02869,2019-02-01 05:45:38,2019-02-01 05:51:35,145,145,NaN,queens_1,queens_1,00:05:57
27,60266,60266,HV0003,B02869,2019-02-01 05:55:17,2019-02-01 05:58:18,145,145,NaN,queens_1,queens_1,00:03:01
28,65191,65191,HV0003,B02866,2019-02-01 05:48:53,2019-02-01 05:54:00,145,145,NaN,queens_1,queens_1,00:05:07
29,69520,69520,HV0003,B02764,2019-02-01 05:42:30,2019-02-01 05:46:32,145,145,NaN,queens_1,queens_1,00:04:02
...,...,...,...,...,...,...,...,...,...,...,...,...
10098312,7441432,7441432,HV0003,B02875,2019-02-11 03:52:08,2019-02-11 04:08:37,251,1,NaN,unknown,unknown,00:16:29
10098313,7452645,7452645,HV0003,B02883,2019-02-11 05:36:32,2019-02-11 05:58:23,251,1,NaN,unknown,unknown,00:21:51
10098314,7461356,7461356,HV0003,B02682,2019-02-11 06:57:54,2019-02-11 07:20:34,251,1,NaN,unknown,unknown,00:22:40
10098315,7468252,7468252,HV0005,B02510,2019-02-11 06:31:18,2019-02-11 06:50:23,251,1,NaN,unknown,unknown,00:19:05
10098316,7681502,7681502,HV0003,B02882,2019-02-11 13:38:21,2019-02-11 13:58:25,251,1,NaN,unknown,unknown,00:20:04
10098317,7824359,7824359,HV0003,B02617,2019-02-11 18:48:11,2019-02-11 19:40:59,251,1,NaN,unknown,unknown,00:52:48
10098318,7902115,7902115,HV0005,B02510,2019-02-11 20:27:24,2019-02-11 20:49:29,251,1,NaN,unknown,unknown,00:22:05
10098319,8060069,8060069,HV0003,B02875,2019-02-12 04:47:19,2019-02-12 05:05:55,251,1,NaN,unknown,unknown,00:18:36
10098320,8083643,8083643,HV0003,B02889,2019-02-12 06:18:18,2019-02-12 06:37:47,251,1,NaN,unknown,unknown,00:19:29
10098321,8094240,8094240,HV0003,B02764,2019-02-12 07:25:09,2019-02-12 07:47:58,251,1,NaN,unknown,unknown,00:22:49
10098322,8733157,8733157,HV0003,B02764,2019-02-13 03:50:12,2019-02-13 04:21:31,251,1,NaN,unknown,unknown,00:31:19
10098323,8733660,8733660,HV0003,B02871,2019-02-13 04:26:49,2019-02-13 04:49:17,251,1,NaN,unknown,unknown,00:22:28
10098324,8735849,8735849,HV0003,B02882,2019-02-13 04:20:59,2019-02-13 04:40:47,251,1,NaN,unknown,unknown,00:19:48
10098325,8739869,8739869,HV0002,B02914,2019-02-13 05:49:49,2019-02-13 06:06:04,251,1,NaN,unknown,unknown,00:16:15
10098326,8780259,8780259,HV0003,B02682,2019-02-13 07:28:24,2019-02-13 07:50:23,251,1,NaN,unknown,unknown,00:21:59
10098327,8786400,8786400,HV0003,B02889,2019-02-13 07:26:23,2019-02-13 07:46:35,251,1,NaN,unknown,unknown,00:20:12
10098328,8994105,8994105,HV0003,B02888,2019-02-13 14:44:01,2019-02-13 15:10:40,251,1,NaN,unknown,unknown,00:26:39
10098329,9227646,9227646,HV0005,B02510,2019-02-13 20:36:05,2019-02-13 20:56:29,251,1,NaN,unknown,unknown,00:20:24
10098330,9422371,9422371,HV0005,B02510,2019-02-14 04:43:37,2019-02-14 05:03:14,251,1,NaN,unknown,unknown,00:19:37
10098331,9654346,9654346,HV0003,B02883,2019-02-14 13:15:07,2019-02-14 13:43:14,251,1,NaN,unknown,unknown,00:28:07
10098332,9738992,9738992,HV0005,B02510,2019-02-14 15:25:08,2019-02-14 15:49:46,251,1,1.0,unknown,unknown,00:24:38
10098333,153878,153878,HV0003,B02764,2019-02-01 08:42:17,2019-02-01 08:53:36,1,1,NaN,unknown,unknown,00:11:19
10098334,153879,153879,HV0003,B02764,2019-02-01 08:55:45,2019-02-01 09:01:33,1,1,NaN,unknown,unknown,00:05:48
10098335,201807,201807,HV0003,B02764,2019-02-01 09:07:05,2019-02-01 09:47:13,1,1,NaN,unknown,unknown,00:40:08
10098336,3111459,3111459,HV0005,B02510,2019-02-05 04:55:44,2019-02-05 05:23:59,1,1,NaN,unknown,unknown,00:28:15
10098337,3291666,3291666,HV0005,B02510,2019-02-05 12:50:09,2019-02-05 13:25:47,1,1,NaN,unknown,unknown,00:35:38
10098338,3915509,3915509,HV0005,B02510,2019-02-06 13:27:43,2019-02-06 13:27:57,1,1,NaN,unknown,unknown,00:00:14
10098339,5902805,5902805,HV0003,B02764,2019-02-09 06:36:23,2019-02-09 06:39:49,1,1,1.0,unknown,unknown,00:03:26
10098340,7086570,7086570,HV0005,B02510,2019-02-10 15:50:14,2019-02-10 16:45:01,1,1,NaN,unknown,unknown,00:54:47
10098341,8105029,8105029,HV0005,B02510,2019-02-12 07:31:00,2019-02-12 08:12:21,1,1,NaN,unknown,unknown,00:41:21

In [ ]:
data.to_csv

In [12]:
data.groupby(data['pickup_datetime'].dt.hour).count()

,Unnamed: 0,Unnamed: 0.1,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,zone,zone_drop,travel_time
pickup_datetime,,,,,,,,,,,,
0,373741,373741,373741,373740,373741,373741,373741,373741,100632,373741,373741,373741
1,252534,252534,252534,252533,252534,252534,252534,252534,65187,252534,252534,252534
2,175287,175287,175287,175287,175287,175287,175287,175287,44375,175287,175287,175287
3,130262,130262,130262,130262,130262,130262,130262,130262,31052,130262,130262,130262
4,123079,123079,123079,123079,123079,123079,123079,123079,26919,123079,123079,123079
5,145722,145722,145722,145722,145722,145722,145722,145722,29476,145722,145722,145722
6,248419,248419,248419,248418,248419,248419,248419,248419,57948,248419,248419,248419
7,407183,407183,407183,407160,407183,407183,407183,407183,98631,407183,407183,407183
8,506224,506224,506224,506199,506224,506224,506224,506224,127749,506224,506224,506224
9,462904,462904,462904,462885,462904,462904,462904,462904,110394,462904,462904,462904
10,405679,405679,405679,405672,405679,405679,405679,405679,93691,405679,405679,405679
11,396133,396133,396133,396127,396133,396133,396133,396133,92066,396133,396133,396133
12,411954,411954,411954,411938,411954,411954,411954,411954,98838,411954,411954,411954
13,423921,423921,423921,423907,423921,423921,423921,423921,105915,423921,423921,423921
14,449561,449561,449561,449547,449561,449561,449561,449561,113815,449561,449561,449561
15,468925,468925,468925,468904,468925,468925,468925,468925,119500,468925,468925,468925
16,496600,496600,496600,496576,496600,496600,496600,496600,127125,496600,496600,496600
17,593204,593204,593204,593194,593204,593204,593204,593204,163266,593204,593204,593204
18,672115,672115,672115,672101,672115,672115,672115,672115,183334,672115,672115,672115
19,657492,657492,657492,657485,657492,657492,657492,657492,172661,657492,657492,657492
20,610902,610902,610902,610897,610902,610902,610902,610902,155592,610902,610902,610902
21,588281,588281,588281,588278,588281,588281,588281,588281,148873,588281,588281,588281
22,585780,585780,585780,585778,585780,585780,585780,585780,152223,585780,585780,585780
23,512440,512440,512440,512438,512440,512440,512440,512440,136613,512440,512440,512440

In [21]:
pickupdf=data.sort_values(by=['pickup_datetime'])
pickupdf

,Unnamed: 0,Unnamed: 0.1,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,zone,zone_drop,travel_time
9706796,20381,20381,HV0003,B02872,2019-02-01 00:00:00,2019-02-01 00:04:52,38,265,NaN,queens_2,unknown,00:04:52
8251687,21583,21583,HV0002,B02914,2019-02-01 00:00:00,2019-02-01 00:04:32,14,14,NaN,brooklyn_2,brooklyn_2,00:04:32
5107916,9839,9839,HV0003,B02764,2019-02-01 00:00:01,2019-02-01 00:09:11,249,79,NaN,manhattan_2,manhattan_2,00:09:10
9332132,12760,12760,HV0003,B02764,2019-02-01 00:00:01,2019-02-01 00:02:44,208,208,NaN,bronx_2,bronx_2,00:02:43
3969045,5160,5160,HV0003,B02512,2019-02-01 00:00:01,2019-02-01 00:11:23,68,164,NaN,manhattan_2,manhattan_2,00:11:22
9088192,10166,10166,HV0003,B02888,2019-02-01 00:00:01,2019-02-01 00:06:33,94,169,NaN,bronx_1,bronx_2,00:06:32
2233317,16469,16469,HV0003,B02887,2019-02-01 00:00:02,2019-02-01 00:04:43,75,75,1.0,manhattan_1,manhattan_1,00:04:41
2963133,23244,23244,HV0003,B02764,2019-02-01 00:00:02,2019-02-01 00:36:28,132,142,NaN,queens_2,manhattan_1,00:36:26
1291557,11524,11524,HV0003,B02884,2019-02-01 00:00:02,2019-02-01 00:13:11,218,122,NaN,queens_2,queens_2,00:13:09
2233316,16468,16468,HV0003,B02887,2019-02-01 00:00:02,2019-02-01 00:04:34,75,75,1.0,manhattan_1,manhattan_1,00:04:32
7102211,2049,2049,HV0002,B02914,2019-02-01 00:00:02,2019-02-01 00:06:26,256,255,NaN,brooklyn_1,brooklyn_1,00:06:24
3912242,20249,20249,HV0003,B02875,2019-02-01 00:00:02,2019-02-01 00:19:58,255,170,1.0,brooklyn_1,manhattan_2,00:19:56
4018908,7990,7990,HV0003,B02887,2019-02-01 00:00:03,2019-02-01 00:26:01,138,100,NaN,queens_1,manhattan_2,00:25:58
4277044,13589,13589,HV0004,B02800,2019-02-01 00:00:03,2019-02-01 00:29:44,40,68,1.0,brooklyn_1,manhattan_2,00:29:41
6471952,1019,1019,HV0003,B02879,2019-02-01 00:00:03,2019-02-01 00:18:46,125,49,NaN,manhattan_2,brooklyn_1,00:18:43
9638016,287,287,HV0003,B02884,2019-02-01 00:00:03,2019-02-01 00:08:45,174,254,1.0,bronx_1,bronx_2,00:08:42
197720,9108,9108,HV0003,B02765,2019-02-01 00:00:03,2019-02-01 00:13:15,263,7,NaN,manhattan_1,queens_1,00:13:12
6434533,8123,8123,HV0003,B02867,2019-02-01 00:00:03,2019-02-01 00:04:55,112,97,NaN,brooklyn_1,brooklyn_1,00:04:52
9301185,17192,17192,HV0003,B02887,2019-02-01 00:00:03,2019-02-01 00:06:03,213,213,NaN,bronx_2,bronx_2,00:06:00
6642531,9875,9875,HV0003,B02887,2019-02-01 00:00:04,2019-02-01 00:25:18,13,61,NaN,manhattan_2,brooklyn_1,00:25:14
4833264,5577,5577,HV0003,B02764,2019-02-01 00:00:04,2019-02-01 00:10:50,79,158,NaN,manhattan_2,manhattan_2,00:10:46
6722802,17953,17953,HV0002,B02914,2019-02-01 00:00:04,2019-02-01 00:06:53,225,61,NaN,brooklyn_1,brooklyn_1,00:06:49
6335228,8816,8816,HV0003,B02836,2019-02-01 00:00:04,2019-02-01 00:02:40,189,181,NaN,brooklyn_1,brooklyn_1,00:02:36
3120586,8798,8798,HV0003,B02765,2019-02-01 00:00:05,2019-02-01 00:08:05,230,50,NaN,manhattan_2,manhattan_2,00:08:00
9412082,10252,10252,HV0003,B02870,2019-02-01 00:00:05,2019-02-01 00:08:02,168,167,1.0,bronx_2,bronx_2,00:07:57
1975102,20053,20053,HV0003,B02765,2019-02-01 00:00:05,2019-02-01 00:09:48,69,42,NaN,bronx_2,manhattan_1,00:09:43
6392623,8735,8735,HV0004,B02800,2019-02-01 00:00:05,2019-02-01 00:22:12,4,97,1.0,manhattan_2,brooklyn_1,00:22:07
3821875,7564,7564,HV0003,B02617,2019-02-01 00:00:06,2019-02-01 00:19:06,238,170,NaN,manhattan_1,manhattan_2,00:19:00
2720839,20385,20385,HV0003,B02889,2019-02-01 00:00:06,2019-02-01 00:32:23,132,140,NaN,queens_2,manhattan_1,00:32:17
263100,18404,18404,HV0003,B02872,2019-02-01 00:00:06,2019-02-01 00:45:55,102,223,1.0,queens_2,queens_1,00:45:49
...,...,...,...,...,...,...,...,...,...,...,...,...
6329310,10078563,10078563,HV0005,B02510,2019-02-14 23:59:56,2019-02-15 00:06:04,181,181,NaN,brooklyn_1,brooklyn_1,00:06:08
8418139,10073262,10073262,HV0003,B02617,2019-02-14 23:59:56,2019-02-15 00:38:13,233,91,NaN,manhattan_2,brooklyn_2,00:38:17
108661,10080419,10080419,HV0005,B02510,2019-02-14 23:59:56,2019-02-15 00:20:41,208,179,1.0,bronx_2,queens_1,00:20:45
9970436,10084279,10084279,HV0003,B02889,2019-02-14 23:59:56,2019-02-15 00:08:37,156,23,1.0,unknown,unknown,00:08:41
1315734,10085454,10085454,HV0003,B02872,2019-02-14 23:59:56,2019-02-15 00:12:21,191,205,1.0,queens_2,queens_2,00:12:25
7934282,10086248,10086248,HV0005,B02510,2019-02-14 23:59:56,2019-02-15 00:24:56,132,63,NaN,queens_2,brooklyn_1,00:25:00
53462,10096490,10096490,HV0005,B02510,2019-02-14 23:59:56,2019-02-15 00:41:13,66,145,NaN,brooklyn_1,queens_1,00:41:17
3327152,10071323,10071323,HV0004,B02800,2019-02-14 23:59:56,2019-02-15 00:26:06,79,48,1.0,manhattan_2,manhattan_2,00:26:10
5240812,10095735,10095735,HV0003,B02764,2019-02-14 23:59:56,2019-02-15 00:17:00,162,114,NaN,manhattan_2,manhattan_2,00:17:04
8236725,10067874,10067874,HV0005,B02510,2019-02-14 23:59:56,2019-02-15 00:12:13,181,14,NaN,brooklyn_1,brooklyn_2,00:12:17
764492,10096306,10096306,HV0005,B02510,2019-02-14 23:59:56,2019-02-15 00:16:42,28,160,NaN,queens_1,queens_1,00:16:46
2555948,10067649,10067649,HV0003,B02617,2019-02-14 23:59:57,2019-02-15 00:10:50,163,236,NaN,manhattan_2,manhattan_1,00:10:53
3900622,10088745,10088745,HV0005,B02510,2019-02-14 23:59:57,2019-02-15 00:15:02,148,170,NaN,manhattan_2,manhattan_2,00:15:05
7711349,10065909,10065909,HV0005,B02510,2019-02-14 23:59:57,2019-02-15 00:19:04,61,77,NaN,brooklyn_1,brooklyn_1,00:19:07
6949619,10096279,10096279,HV0003,B02872,2019-02-14 23:59:57,2019-02-15 00:16:18,82,256,NaN,queens_1,brooklyn_1,00:16:21
4714226,10095415,10095415,HV0005,B02510,2019-02-14 23:59:58,2019-02-15 00:13:46,48,137,NaN,manhattan_2,manhattan_2,00:13:48
7147742,10079096,10079096,HV0005,B02510,2019-02-14 23:59:58,2019-02-15 00:09:02,145,112,NaN,queens_1,brooklyn_1,00:09:04
4737457,10090520,10090520,HV0003,B02883,2019-02-14 23:59:58,2019-02-15 00:07:47,224,137,NaN,manhattan_2,manhattan_2,00:07:49
2804335,10088955,10088955,HV0003,B02764,2019-02-14 23:59:58,2019-02-15 00:12:12,239,141,NaN,manhattan_1,manhattan_1,00:12:14
10007172,10067817,10067817,HV0005,B02510,2019-02-14 23:59:58,2019-02-15 00:02:13,172,172,NaN,unknown,unknown,00:02:15
1182987,10089013,10089013,HV0003,B02765,2019-02-14 23:59:58,2019-02-15 00:31:32,82,258,1.0,queens_1,queens_2,00:31:34
71720,10064636,10064636,HV0005,B02510,2019-02-14 23:59:59,2019-02-15 00:10:29,7,193,1.0,queens_1,queens_1,00:10:30
2049552,10070924,10070924,HV0003,B02682,2019-02-14 23:59:59,2019-02-15 00:28:13,237,166,1.0,manhattan_1,manhattan_1,00:28:14
5829331,10090360,10090360,HV0005,B02510,2019-02-14 23:59:59,2019-02-15 00:21:17,230,87,NaN,manhattan_2,manhattan_2,00:21:18
5585171,10084966,10084966,HV0005,B02510,2019-02-14 23:59:59,2019-02-15 00:23:32,228,148,NaN,brooklyn_2,manhattan_2,00:23:33
8936751,10095718,10095718,HV0003,B02877,2019-02-14 23:59:59,2019-02-15 00:32:24,232,185,NaN,manhattan_2,bronx_1,00:32:25
3373754,10062891,10062891,HV0005,B02510,2019-02-14 23:59:59,2019-02-15 00:13:51,141,230,NaN,manhattan_1,manhattan_2,00:13:52
5910788,10069030,10069030,HV0005,B02510,2019-02-14 23:59:59,2019-02-15 00:10:54,40,261,NaN,brooklyn_1,manhattan_2,00:10:55
1728117,10094699,10094699,HV0003,B02836,2019-02-14 23:59:59,2019-02-15 00:02:40,243,243,NaN,manhattan_1,manhattan_1,00:02:41
402629,10073953,10073953,HV0003,B02879,2019-02-14 23:59:59,2019-02-15 00:02:57,129,129,NaN,queens_1,queens_1,00:02:58

In [23]:
pickup_byhour=data.groupby([data['pickup_datetime'].dt.hour,data['PULocationID']]).size()
pickup_byhour
pickup_byhour=pd.DataFrame(pickup_byhour)
pickup_byhour.to_csv('pickup_byhour.csv')

In [24]:
pickup_byday=data.groupby([data['pickup_datetime'].dt.day,data['PULocationID']]).size()
pickup_byday
pickup_byday=pd.DataFrame(pickup_byday)
pickup_byday.to_csv('pickup_byday.csv')

In [10]:
pickuppeak_time=data.groupby([data['pickup_datetime'].dt.hour]).size()
pickuppeak_time

pickup_datetime
0     373741
1     252534
2     175287
3     130262
4     123079
5     145722
6     248419
7     407183
8     506224
9     462904
10    405679
11    396133
12    411954
13    423921
14    449561
15    468925
16    496600
17    593204
18    672115
19    657492
20    610902
21    588281
22    585780
23    512440
dtype: int64

In [11]:
dropoffdf=data.sort_values(by=['dropoff_datetime'])
dropoffdf

,Unnamed: 0,Unnamed: 0.1,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,zone,zone_drop,travel_time
5451566,3590,3590,HV0003,B02764,2019-02-01 00:01:19,2019-02-01 00:02:09,144,144,NaN,manhattan_2,manhattan_2,00:00:50
6335228,8816,8816,HV0003,B02836,2019-02-01 00:00:04,2019-02-01 00:02:40,189,181,NaN,brooklyn_1,brooklyn_1,00:02:36
9332132,12760,12760,HV0003,B02764,2019-02-01 00:00:01,2019-02-01 00:02:44,208,208,NaN,bronx_2,bronx_2,00:02:43
8635081,22291,22291,HV0003,B02888,2019-02-01 00:00:48,2019-02-01 00:02:58,220,200,NaN,bronx_1,bronx_1,00:02:10
2350259,1223,1223,HV0003,B02875,2019-02-01 00:02:12,2019-02-01 00:03:13,151,238,NaN,manhattan_1,manhattan_1,00:01:01
4838778,21168,21168,HV0003,B02875,2019-02-01 00:00:21,2019-02-01 00:03:13,125,158,NaN,manhattan_2,manhattan_2,00:02:52
990532,14902,14902,HV0003,B02867,2019-02-01 00:00:22,2019-02-01 00:03:16,171,171,NaN,queens_1,queens_1,00:02:54
1377772,6644,6644,HV0003,B02764,2019-02-01 00:00:59,2019-02-01 00:03:28,218,218,NaN,queens_2,queens_2,00:02:29
1633509,16801,16801,HV0003,B02883,2019-02-01 00:00:53,2019-02-01 00:03:35,117,117,NaN,queens_2,queens_2,00:02:42
6868934,9333,9333,HV0003,B02764,2019-02-01 00:00:54,2019-02-01 00:03:37,49,17,NaN,brooklyn_1,brooklyn_1,00:02:43
7717410,10376,10376,HV0003,B02866,2019-02-01 00:01:53,2019-02-01 00:03:43,77,77,NaN,brooklyn_1,brooklyn_1,00:01:50
6593554,18596,18596,HV0003,B02888,2019-02-01 00:00:31,2019-02-01 00:03:47,62,62,NaN,brooklyn_1,brooklyn_1,00:03:16
290668,10962,10962,HV0002,B02914,2019-02-01 00:01:07,2019-02-01 00:03:48,226,226,NaN,queens_1,queens_1,00:02:41
1912741,5104,5104,HV0003,B02878,2019-02-01 00:01:02,2019-02-01 00:04:03,42,42,1.0,manhattan_1,manhattan_1,00:03:01
8654704,12535,12535,HV0003,B02875,2019-02-01 00:00:16,2019-02-01 00:04:05,220,220,NaN,bronx_1,bronx_1,00:03:49
4782955,18601,18601,HV0003,B02864,2019-02-01 00:00:33,2019-02-01 00:04:08,4,224,NaN,manhattan_2,manhattan_2,00:03:35
3307223,2408,2408,HV0003,B02764,2019-02-01 00:00:15,2019-02-01 00:04:12,246,48,NaN,manhattan_2,manhattan_2,00:03:57
8251686,17832,17832,HV0003,B02617,2019-02-01 00:02:05,2019-02-01 00:04:14,14,14,NaN,brooklyn_2,brooklyn_2,00:02:09
7001514,22765,22765,HV0003,B02872,2019-02-01 00:02:12,2019-02-01 00:04:18,256,256,NaN,brooklyn_1,brooklyn_1,00:02:06
1723272,18605,18605,HV0003,B02875,2019-02-01 00:01:25,2019-02-01 00:04:19,243,243,NaN,manhattan_1,manhattan_1,00:02:54
8560457,16994,16994,HV0003,B02765,2019-02-01 00:00:47,2019-02-01 00:04:21,55,55,NaN,brooklyn_2,brooklyn_2,00:03:34
4226062,17939,17939,HV0003,B02887,2019-02-01 00:01:44,2019-02-01 00:04:24,68,68,1.0,manhattan_2,manhattan_2,00:02:40
2022377,17306,17306,HV0003,B02765,2019-02-01 00:01:15,2019-02-01 00:04:25,166,166,NaN,manhattan_1,manhattan_1,00:03:10
390424,10040,10040,HV0003,B02883,2019-02-01 00:00:18,2019-02-01 00:04:26,129,129,NaN,queens_1,queens_1,00:04:08
82649,22612,22612,HV0003,B02876,2019-02-01 00:01:20,2019-02-01 00:04:28,7,179,NaN,queens_1,queens_1,00:03:08
3875383,8379,8379,HV0003,B02882,2019-02-01 00:01:02,2019-02-01 00:04:32,107,170,NaN,manhattan_2,manhattan_2,00:03:30
5375185,15249,15249,HV0003,B02765,2019-02-01 00:01:51,2019-02-01 00:04:32,114,211,NaN,manhattan_2,manhattan_2,00:02:41
7209580,10286,10286,HV0003,B02887,2019-02-01 00:00:21,2019-02-01 00:04:32,112,112,NaN,brooklyn_1,brooklyn_1,00:04:11
8251687,21583,21583,HV0002,B02914,2019-02-01 00:00:00,2019-02-01 00:04:32,14,14,NaN,brooklyn_2,brooklyn_2,00:04:32
9054084,10026,10026,HV0003,B02764,2019-02-01 00:03:20,2019-02-01 00:04:33,235,235,NaN,bronx_2,bronx_2,00:01:13
...,...,...,...,...,...,...,...,...,...,...,...,...
9774476,10096102,10096102,HV0002,B02914,2019-02-14 23:55:28,2019-02-15 01:10:35,142,265,NaN,manhattan_1,unknown,01:15:07
9888209,10075720,10075720,HV0003,B02864,2019-02-14 23:46:51,2019-02-15 01:11:20,148,265,NaN,manhattan_2,unknown,01:24:29
8350638,10095365,10095365,HV0005,B02510,2019-02-14 23:55:06,2019-02-15 01:12:03,132,165,NaN,queens_2,brooklyn_2,01:16:57
9900504,10088718,10088718,HV0005,B02510,2019-02-14 23:58:31,2019-02-15 01:12:08,261,265,NaN,manhattan_2,unknown,01:13:37
9765092,10067099,10067099,HV0005,B02510,2019-02-14 23:56:18,2019-02-15 01:12:11,262,265,1.0,manhattan_1,unknown,01:15:53
1728090,10064042,10064042,HV0003,B02882,2019-02-14 23:34:40,2019-02-15 01:12:31,243,243,NaN,manhattan_1,manhattan_1,01:37:51
9741855,10042839,10042839,HV0003,B02869,2019-02-14 22:40:11,2019-02-15 01:12:55,132,265,NaN,queens_2,unknown,02:32:44
7855995,10065103,10065103,HV0003,B02764,2019-02-14 23:57:53,2019-02-15 01:13:07,230,76,NaN,manhattan_2,brooklyn_1,01:15:14
9808584,10086174,10086174,HV0003,B02883,2019-02-14 23:52:15,2019-02-15 01:18:04,161,265,NaN,manhattan_2,unknown,01:25:49
9789522,10077160,10077160,HV0005,B02510,2019-02-14 23:25:00,2019-02-15 01:18:54,48,265,NaN,manhattan_2,unknown,01:53:54
8392937,10077846,10077846,HV0005,B02510,2019-02-14 23:36:12,2019-02-15 01:19:12,80,71,NaN,brooklyn_1,brooklyn_2,01:43:00
9683435,10085748,10085748,HV0005,B02510,2019-02-14 23:53:13,2019-02-15 01:20:01,138,265,NaN,queens_1,unknown,01:26:48
9782871,10072296,10072296,HV0003,B02764,2019-02-14 23:46:32,2019-02-15 01:21:00,163,265,NaN,manhattan_2,unknown,01:34:28
9870493,10068997,10068997,HV0003,B02884,2019-02-14 23:12:48,2019-02-15 01:23:23,113,265,NaN,manhattan_2,unknown,02:10:35
9817651,10087103,10087103,HV0003,B02875,2019-02-14 23:54:10,2019-02-15 01:24:32,229,265,NaN,manhattan_2,unknown,01:30:22
9825583,10079092,10079092,HV0003,B02880,2019-02-14 23:38:51,2019-02-15 01:24:38,170,265,NaN,manhattan_2,unknown,01:45:47
1711378,10034044,10034044,HV0003,B02867,2019-02-14 22:03:11,2019-02-15 01:39:11,235,127,NaN,bronx_2,manhattan_1,03:36:00
9955354,10072434,10072434,HV0003,B02395,2019-02-14 23:52:51,2019-02-15 01:44:27,254,265,NaN,bronx_2,unknown,01:51:36
1448891,9906380,9906380,HV0003,B02877,2019-02-14 19:46:53,2019-02-15 01:47:03,222,180,NaN,brooklyn_1,queens_2,06:00:10
6624170,10089734,10089734,HV0005,B02510,2019-02-14 23:57:04,2019-02-15 01:49:02,130,61,NaN,queens_2,brooklyn_1,01:51:58
6633688,10072107,10072107,HV0003,B02884,2019-02-14 23:38:43,2019-02-15 01:50:44,137,61,NaN,manhattan_2,brooklyn_1,02:12:01
16925,10097880,10097880,HV0005,B02510,2019-02-14 23:54:15,2019-02-15 02:13:43,226,145,NaN,queens_1,queens_1,02:19:28
9687117,10062122,10062122,HV0003,B02866,2019-02-14 23:56:12,2019-02-15 02:21:12,198,265,NaN,queens_1,unknown,02:25:00
1711377,10034043,10034043,HV0005,B02510,2019-02-14 22:16:49,2019-02-15 02:30:40,235,127,NaN,bronx_2,manhattan_1,04:13:51
9916999,10030463,10030463,HV0002,B02914,2019-02-14 22:36:11,2019-02-15 02:32:58,89,265,NaN,brooklyn_2,unknown,03:56:47
9264610,10077003,10077003,HV0003,B02682,2019-02-14 23:23:40,2019-02-15 03:44:14,242,212,NaN,bronx_1,bronx_2,04:20:34
9343156,10034661,10034661,HV0005,B02510,2019-02-14 22:59:15,2019-02-15 05:00:21,200,126,NaN,bronx_1,bronx_2,06:01:06
3080303,9794378,9794378,HV0004,B02800,2019-02-14 17:58:03,2019-02-15 06:07:48,170,143,1.0,manhattan_2,manhattan_1,12:09:45
8632385,9931816,9931816,HV0004,B02800,2019-02-14 20:50:21,2019-02-15 06:16:12,148,200,NaN,manhattan_2,bronx_1,09:25:51
5831642,9879380,9879380,HV0004,B02800,2019-02-14 19:32:11,2019-02-15 11:17:22,162,87,1.0,manhattan_2,manhattan_2,15:45:11

In [25]:
dropoff_byhour=data.groupby([data['dropoff_datetime'].dt.hour,data['DOLocationID']]).size()
dropoff_byhour
dropoff_byhour=pd.DataFrame(dropoff_byhour)
dropoff_byhour.to_csv('dropoff_byhour.csv')

In [26]:
dropoff_byday=data.groupby([data['dropoff_datetime'].dt.day,data['DOLocationID']]).size()
dropoff_byday
dropoff_byday=pd.DataFrame(dropoff_byday)
dropoff_byday.to_csv('dropoff_byday.csv')

In [14]:
dropoffpeak_time=data.groupby([data['dropoff_datetime'].dt.hour]).size()
dropoffpeak_time

dropoff_datetime
0     422342
1     285020
2     194919
3     137307
4     123300
5     129750
6     208606
7     350187
8     480717
9     491829
10    424638
11    394669
12    408559
13    415862
14    432764
15    457678
16    482942
17    556930
18    669911
19    681842
20    626594
21    594259
22    586131
23    541586
dtype: int64